In [21]:
#data preprocessing
import numpy as np
import pyodbc
import pandas as pd

#ml stuff
import sklearn
from sklearn.model_selection import train_test_split
from tensorflow import keras 
import tensorflow as tf
print('Tensorflow/Keras: %s' % keras.__version__)
from keras.models import Sequential 
from keras import Input 
from keras.layers import Dense
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.cluster import KMeans
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

import json 
from datetime import datetime 
#utils/visualization
from collections import defaultdict
import time
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import dill as pickle
from ydata_profiling import ProfileReport
import plotly.graph_objs as go
import plotly.tools as tls
import plotly.express as px
import itertools
import functools
import operator 
from more_itertools import flatten
from collections import Counter
#config vars
pd.options.display.max_columns=100
pd.options.display.max_rows = 1001
pd.options.display.max_seq_items = 10
verbose=1

from sqlalchemy.engine import URL
from sqlalchemy import create_engine

import sqlalchemy as sa
import urllib
from sqlalchemy import text

Tensorflow/Keras: 2.12.0

# Connect to Database and get Data

In [2]:
tenant = '0001ai'

In [3]:
def connect_to_db_better(connection_string,
                    database,
                    driver = 'SQL Server Native Client 11.0',
                    user = 'CCAdmin',
                    password = 'Miw6RjnTGmPHLYF9mG1o'
):
    odbc_str = 'DRIVER='+driver+';SERVER='+connection_string+';PORT=1433;UID='+user+';DATABASE='+ database + ';PWD='+ password
    connect_str = 'mssql+pyodbc:///?odbc_connect=' + urllib.parse.quote_plus(odbc_str)

    return connect_str


def get_table_data_CCLOG(table_name, connect_str, startdate, enddate):
    engine = create_engine(connect_str)
    with engine.connect() as conn:
        df = pd.read_sql(text("SELECT * FROM [dbo].["+table_name+"] where LogTime >= "+startdate+" and LogTime <= "+enddate+""), conn)
        return df
    
def get_table_data_CCLOGAUTOTRAIN(table_name, connect_str, startdate, enddate):
    engine = create_engine(connect_str)
    with engine.connect() as conn:
        df = pd.read_sql(text("SELECT * FROM [dbo].["+table_name+"] where CONVERT(datetime2, STOP_TIME, 104) BETWEEN "+startdate+" and "+enddate+""), conn)
        return df

def get_table_data_ALL(table_name, connect_str):
    engine = create_engine(connect_str)
    with engine.connect() as conn:
        df = pd.read_sql(text("SELECT * FROM [dbo].["+table_name+"]"), conn)
        return df

# Data analysis

In [ ]:
#df.head()
#ProfileReport(df)

In [ ]:
dist = df['Delta'].value_counts()
trace = go.Pie(values=(np.array(dist)),labels=dist.index,  pull=[0, 0])
layout = go.Layout(title='Delta Distribution')
data = [trace]
fig = go.Figure(trace,layout)
fig.update_traces(marker=dict(line=dict(color='#000000', width=0.5)), textinfo='value+percent', insidetextorientation='auto')
#sfig.show()

In [ ]:
dist = df['Type'].value_counts()
trace = go.Pie(values=(np.array(dist)),labels=dist.index,  pull=[0, 0.4,0.2,0.1])
layout = go.Layout(title='Type Distribution')
data = [trace]
fig = go.Figure(trace,layout)
fig.update_traces(marker=dict(line=dict(color='#000000', width=0.5)), textinfo='value+percent', insidetextorientation='auto')
#sfig.show()

# Sollerkennungswerte bestimmen

In [ ]:
def get_sollwerte(key, df):
    df_ordernum = df.loc[(df['Attribute_Name'] == 'OrderNum')] #&(df['Delta'] == False)
    dist = df_ordernum['Delta'].value_counts(normalize=True)
    print('Kreditor: '+key+'')
    
    try:
        score = 1 - dist.loc[True]
    except:
        score = dist.loc[False]

    print('q(OrderNum): '+str(score)+'') 


    df_ordernum_correct = df.loc[(df['Attribute_Name'] == 'OrderNum') &(df['Delta'] == False)] 
    documentid_list = df_ordernum_correct[['DocumentID']].values.tolist()
    merged = list(itertools.chain.from_iterable(documentid_list))
    denonimator_ordernum = len(documentid_list)
    

    df_debitor_ordernum = df.loc[(df['Attribute_Name'] == 'OrderNum')|(df['Attribute_Name'] == 'DEBITOR_NUM')|(df['Attribute_Name'] == 'VENDOR_NUM')]
    #print(df_debitor_ordernum)
    #df_debitor_ordernum.to_csv('data/debitor_preprocessing.csv', index=False, header= True, encoding='iso-8859-15')
    


    counter_do=0
    counter_vo=0
    for entry_1 in merged:
        speicher_entry_new = df_debitor_ordernum[df_debitor_ordernum.DocumentID == ''.join(str(entry_1))]
        if ((speicher_entry_new.Attribute_Name == 'OrderNum') & (speicher_entry_new.Delta == False)).any(): 
            if ((speicher_entry_new.Attribute_Name == 'DEBITOR_NUM')&(speicher_entry_new.Delta == False)).any():
                    counter_do += 1
            if ((speicher_entry_new.Attribute_Name == 'VENDOR_NUM')&(speicher_entry_new.Delta == False)).any():
                    counter_vo += 1
    try:
        print('q(Mandant|OrderNum): '+str(counter_do/denonimator_ordernum)+'')
        print('q(Vendor|OrderNum): '+str(counter_vo/denonimator_ordernum)+'')
    except:
         print('error')

    counter_vno=0

    df_order_delta = df.loc[(df['Attribute_Name'] == 'OrderNum')&(df['Delta'] == True)]
    df_order_delta_documentid = df_order_delta[['DocumentID']]
    order_delta_list = df_order_delta_documentid.values.tolist()
    order_delta_list_merged = list(itertools.chain.from_iterable(order_delta_list))
    denominator_order_delta_num = len(order_delta_list_merged)


    df_invoicenumber_order_delta = df.loc[(df['Attribute_Name'] == 'DEBITOR_NUM')|(df['Attribute_Name'] == 'OrderNum')]
    for entry_order_delta_invoicenumber in order_delta_list_merged:
        speicher_entry_order_delta = df_invoicenumber_order_delta[df_invoicenumber_order_delta.DocumentID == ''.join(str(entry_order_delta_invoicenumber))]
        if ((speicher_entry_order_delta.Attribute_Name == 'OrderNum') & (speicher_entry_order_delta.Delta == True)).any(): 
            if ((speicher_entry_order_delta.Attribute_Name == 'DEBITOR_NUM') & (speicher_entry_order_delta.Delta == False)).any():
                    counter_vno += 1

    if(counter_vno == 0):
        print('Da keine falsche Ordernum existiert ist Mandant|!Ordernum 0')
    else:
        print('q(Mandant|!OrderNum): '+str(counter_vno/denominator_order_delta_num)+'')
        
    df_vendor_nodelta = df.loc[(df['Attribute_Name'] == 'VENDOR_NUM')&(df['Delta'] == False)]
    df_vendor_documentid = df_vendor_nodelta[['DocumentID']]
    vendor_list = df_vendor_documentid.values.tolist()
    vendor_list_merged = list(itertools.chain.from_iterable(vendor_list))
    denominator_vendor_num = len(vendor_list)

    df_invoicenumber_vendor = df.loc[(df['Attribute_Name'] == 'InvoiceNumber')|(df['Attribute_Name'] == 'VENDOR_NUM')|(df['Attribute_Name'] == 'InvoiceDate')|(df['Attribute_Name'] == 'InvoiceDate')|(df['Attribute_Name'] == 'GrossAmount')]

    counter_inv=0
    counter_idv=0
    counter_gv=0

    for entry_vendor_invoicenumber in vendor_list_merged:
        speicher_entry_vendor = df_invoicenumber_vendor[df_invoicenumber_vendor.DocumentID == ''.join(str(entry_vendor_invoicenumber))]
        if ((speicher_entry_vendor.Attribute_Name == 'VENDOR_NUM') & (speicher_entry_vendor.Delta == False)).any(): 
            if ((speicher_entry_vendor.Attribute_Name == 'InvoiceNumber') & (speicher_entry_vendor.Delta == False)).any():
                    counter_inv += 1
            if ((speicher_entry_vendor.Attribute_Name == 'InvoiceDate') & (speicher_entry_vendor.Delta == False)).any():
                    counter_idv += 1
            if ((speicher_entry_vendor.Attribute_Name == 'GrossAmount') & (speicher_entry_vendor.Delta == False)).any():
                    counter_gv += 1

    try:
        print('q(InvoiceNumber|Vendor): '+str(counter_inv/denominator_vendor_num)+'')
        print('q(InvoiceDate|Vendor): '+str(counter_idv/denominator_vendor_num)+'')
        print('q(Gross|Vendor): '+str(counter_gv/denominator_vendor_num)+'')
    except:
        print('error')
    counter_gnv=0

    df_vendor_delta = df.loc[(df['Attribute_Name'] == 'VENDOR_NUM')&(df['Delta'] == True)]
    df_vendor_delta_documentid = df_vendor_delta[['DocumentID']]
    vendor_delta_list = df_vendor_delta_documentid.values.tolist()
    vendor_delta_list_merged = list(itertools.chain.from_iterable(vendor_delta_list))
    denominator_vendor_delta_num = len(vendor_delta_list_merged)


    df_invoicenumber_vendor_delta = df.loc[(df['Attribute_Name'] == 'GrossAmount')|(df['Attribute_Name'] == 'VENDOR_NUM')]
    for entry_vendor_delta_invoicenumber in vendor_delta_list_merged:
        speicher_entry_vendor_delta = df_invoicenumber_vendor_delta[df_invoicenumber_vendor_delta.DocumentID == ''.join(str(entry_vendor_delta_invoicenumber))]
        if ((speicher_entry_vendor_delta.Attribute_Name == 'VENDOR_NUM') & (speicher_entry_vendor_delta.Delta == True)).any(): 
            if ((speicher_entry_vendor_delta.Attribute_Name == 'GrossAmount') & (speicher_entry_vendor_delta.Delta == False)).any():
                    counter_gnv += 1

    try:
        print('q(Gross|!Vendor): '+str(counter_gnv/denominator_vendor_delta_num)+'')
    except:
        print('errror')

    counter_vom=0

    df_order_mandant_delta = df.loc[(df['Attribute_Name'] == 'OrderNum')&(df['Delta'] == True)]
    df_order_delta_new = df_order_mandant_delta.loc[(df_order_mandant_delta['Attribute_Name'] == 'Mandant')&(df['Delta'] == False)]
    df_order_delta_mandant_documentid = df_order_delta_new[['DocumentID']]
    order_delta_mandant_list = df_order_delta_mandant_documentid.values.tolist()
    order_delta_mandant_list_merged = list(itertools.chain.from_iterable(order_delta_mandant_list))
    denominator_order_delta_mandant_num = len(order_delta_mandant_list_merged)


    df_invoicenumber_order_delta_mandant = df.loc[(df['Attribute_Name'] == 'VENDOR_NUM')|(df['Attribute_Name'] == 'OrderNum')|(df['Attribute_Name'] == 'DEBITOR_NUM')]
    for entry_order_delta_mandant in order_delta_mandant_list_merged:
        speicher_entry_order_delta_mandant = df_invoicenumber_order_delta_mandant[df_invoicenumber_order_delta_mandant.DocumentID == ''.join(str(entry_order_delta_mandant))]
        if (((speicher_entry_order_delta_mandant.Attribute_Name == 'OrderNum') & (speicher_entry_order_delta_mandant.Delta == True))&((speicher_entry_order_delta_mandant.Attribute_Name == 'DEBITOR_NUM') & (speicher_entry_order_delta_mandant.Delta == False))).any(): 
            if ((speicher_entry_order_delta_mandant.Attribute_Name == 'VENDOR_NUM') & (speicher_entry_order_delta_mandant.Delta == False)).any():
                    counter_vom += 1

    if((counter_vom == 0) | (denominator_order_delta_mandant_num == 0 & counter_vom == 0)):
        print('Nulldivision q(Vendor| !OrderNum & Mandant) ungültig')
    else:
        print('q(Vendor| !OrderNum & Mandant): '+str(counter_vom/denominator_order_delta_mandant_num)+'')


    counter_vnom=0

    df_order_mandant_delta = df.loc[(df['Attribute_Name'] == 'OrderNum')&(df['Delta'] == True)]
    df_order_delta_new = df_order_mandant_delta.loc[(df_order_mandant_delta['Attribute_Name'] == 'Mandant')&(df['Delta'] == True)]
    df_order_delta_mandant_documentid = df_order_delta_new[['DocumentID']]
    order_delta_mandant_list = df_order_delta_mandant_documentid.values.tolist()
    order_delta_mandant_list_merged = list(itertools.chain.from_iterable(order_delta_mandant_list))
    denominator_order_ndelta_mandant_num = len(order_delta_mandant_list_merged)


    df_invoicenumber_order_delta_mandant = df.loc[(df['Attribute_Name'] == 'VENDOR_NUM')|(df['Attribute_Name'] == 'OrderNum')|(df['Attribute_Name'] == 'DEBITOR_NUM')]
    for entry_order_delta_mandant in order_delta_mandant_list_merged:
        speicher_entry_order_delta_mandant = df_invoicenumber_order_delta_mandant[df_invoicenumber_order_delta_mandant.DocumentID == ''.join(str(entry_order_delta_mandant))]
        if (((speicher_entry_order_delta_mandant.Attribute_Name == 'OrderNum') & (speicher_entry_order_delta_mandant.Delta == True))&((speicher_entry_order_delta_mandant.Attribute_Name == 'DEBITOR_NUM') & (speicher_entry_order_delta_mandant.Delta == True))).any(): 
            if ((speicher_entry_order_delta_mandant.Attribute_Name == 'VENDOR_NUM') & (speicher_entry_order_delta_mandant.Delta == False)).any():
                    counter_vnom += 1

    if((counter_vnom == 0) | (denominator_order_ndelta_mandant_num == 0)):
        print('Nulldivision q(Vendor| !OrderNum & !Mandant) ungültig')
    else:
        print('q(Vendor| !OrderNum & !Mandant): '+str(counter_vnom/denominator_order_ndelta_mandant_num)+'')
    
    print('--------------------------------------------------------------------------------------------')

# Data analysis

In [4]:
# Nach Kreditoren sortieren
#Nach Zeit sortieren 
def split_datframe_into_whatever(splitkey, df_new):
    df_split = df_new.loc[(df_new['Attribute_Name'] == splitkey)] 

    def split_dataframe(df_debitornum, column):
        split_dfs = {}
        for value in df_debitornum[column].unique():
            split_dfs[value] = df_debitornum[df_debitornum[column] == value][['DocumentID']]   
        return split_dfs

    dc_split_attribute_after = split_dataframe(df_split, 'Attribute_After')


    def find_corresponding_values(dict_of_dataframes, column_to_match, large_dataframe):
        result_dict = {}
        for key, df in dict_of_dataframes.items():
            temp_df = large_dataframe[large_dataframe[column_to_match].isin(df[column_to_match])]
            result_dict[key] = temp_df
        return result_dict

    dc_sorted_df = find_corresponding_values(dc_split_attribute_after, "DocumentID", df_new)
    return dc_sorted_df
    #dc_sorted_df_by_creditor[""].to_csv('data/codia.csv', index=False, header= True, encoding='utf-8')

In [5]:
def filter_df_by_time(df, start_date, end_date):
    # Filtern des DataFrames nach dem Zeitfenster
    filtered_df = df[(df['LogTime'] >= start_date) & (df['LogTime'] <= end_date)]  
    df_new = filtered_df.drop(['LogTime'], axis =1)
    # Rückgabe des gefilterten DataFrames
    df_new.to_csv('data/cclogattributes_T_'+tenant+'_reduced.csv', index=False, header= True, encoding='utf-8')#iso-8859-15
    return df_new

In [6]:
def get_data_values2(df, items): 
    df_ordernum_correct = df.loc[(df['Attribute_Name'] == items[0]) &(df['Delta'] == items[1])] 
    documentid_list = df_ordernum_correct[['DocumentID']].values.tolist()
    merged = list(itertools.chain.from_iterable(documentid_list))
    denominator_ordernum = len(documentid_list)
    
    df_debitor_ordernum = df.loc[(df['Attribute_Name'] == items[0])|(df['Attribute_Name'] == items[2])]

    counter_do=0
    for entry_1 in merged:
        speicher_entry_new = df_debitor_ordernum[df_debitor_ordernum.DocumentID == ''.join(str(entry_1))]
        if ((speicher_entry_new.Attribute_Name == items[0]) & (speicher_entry_new.Delta == items[1])).any(): 
            if ((speicher_entry_new.Attribute_Name == items[2])&(speicher_entry_new.Delta == False)).any():
                    counter_do += 1


    try:
        return counter_do/denominator_ordernum,denominator_ordernum
    except ZeroDivisionError:
         return pd.NA, pd.NA

In [7]:
def get_data_values_two_booleans2(df, items):    
    counter_vom=0

    df_order_mandant_delta = df.loc[(df['Attribute_Name'] == items[0])&(df['Delta'] == items[1])]
    df_order_delta_new = df_order_mandant_delta.loc[(df_order_mandant_delta['Attribute_Name'] == items[2])&(df['Delta'] == items[3])]
    df_order_delta_mandant_documentid = df_order_delta_new[['DocumentID']]
    order_delta_mandant_list = df_order_delta_mandant_documentid.values.tolist()
    order_delta_mandant_list_merged = list(itertools.chain.from_iterable(order_delta_mandant_list))
    denominator_order_delta_mandant_num = len(order_delta_mandant_list_merged)


    df_invoicenumber_order_delta_mandant = df.loc[(df['Attribute_Name'] == items[0])|(df['Attribute_Name'] == items[2])|(df['Attribute_Name'] == items[4])]
    for entry_order_delta_mandant in order_delta_mandant_list_merged:
        speicher_entry_order_delta_mandant = df_invoicenumber_order_delta_mandant[df_invoicenumber_order_delta_mandant.DocumentID == ''.join(str(entry_order_delta_mandant))]
        if (((speicher_entry_order_delta_mandant.Attribute_Name == items[0]) & (speicher_entry_order_delta_mandant.Delta == items[1]))&((speicher_entry_order_delta_mandant.Attribute_Name == items[2]) & (speicher_entry_order_delta_mandant.Delta == items[3]))).any(): 
            if ((speicher_entry_order_delta_mandant.Attribute_Name == items[4]) & (speicher_entry_order_delta_mandant.Delta == False)).any():
                    counter_vom += 1

    try:
        return counter_vom/denominator_order_delta_mandant_num, denominator_order_delta_mandant_num
    except:
         return pd.NA , pd.NA

In [8]:
def get_single_value2(df, value):
    df_ordernum = df.loc[(df['Attribute_Name'] == value)] 
    dist = df_ordernum['Delta'].value_counts(normalize=True)
    try:
        score_false = dist.loc[False]
        if(score_false >= 0):
            score = score_false
        elif(score_false == 0):
            score = dist.loc[True]
    except:
        return pd.NA , pd.NA

        
    return score, len(df_ordernum)

In [9]:
def get_single_value(df, value):
    df_ordernum = df.loc[(df['Attribute_Name'] == value)] 
    dist = df_ordernum['Delta'].value_counts(normalize=True)

    try: 
        score_false = dist.loc[False]
    except:
        score_false = pd.NA

    try: 
        score_true = dist.loc[True]
    except:
        score_true = pd.NA
    
    if not pd.isna(score_true):
        score = 1 - score_true
    else:
        score = score_false
    
    try:
        return score, len(df_ordernum)

    except:
        return score , pd.NA

In [10]:
list1 = [['OrderNum',False,'DEBITOR_NUM'],
         ['OrderNum',False,'VENDOR_NUM'],
         ['OrderNum',True,'DEBITOR_NUM'],
         ['VENDOR_NUM',False,'InvoiceNumber'],
         ['VENDOR_NUM',True,'InvoiceNumber'],
         ['VENDOR_NUM',False,'InvoiceDate'],
         ['VENDOR_NUM',True,'InvoiceDate'],
         ['VENDOR_NUM',False,'GrossAmount'],
         ['VENDOR_NUM',True,'GrossAmount'],
         ['VENDOR_NUM',False,'NetAmount1'],
         ['VENDOR_NUM',True,'NetAmount1'],
         ['VENDOR_NUM',False,'VatAmount1'],
         ['VENDOR_NUM',True,'VatAmount1'],
         ]

list2 = [['OrderNum',True,'DEBITOR_NUM',False,'VENDOR_NUM'],
            ['OrderNum',True,'DEBITOR_NUM',True,'VENDOR_NUM'],
            ]

def get_data_values_complete_results(tenant, splitkey,df_new):

    dc_vendors = {}
    dc_frequency = {}

    dc_sorted_df = split_datframe_into_whatever(splitkey, df_new)
    
    df_results = pd.DataFrame(columns=['q(OrderNum)','q(VENDOR_NUM)',
            'q(DEBITOR_NUM|OrderNum)',
            'q(VENDOR_NUM|OrderNum)',
            'q(DEBITOR_NUM|!OrderNum)',
            'q(InvoiceNumber|VENDOR_NUM)',
            'q(InvoiceNumber|!VENDOR_NUM)',
            'q(InvoiceDate|VENDOR_NUM)',
            'q(InvoiceDate|!VENDOR_NUM)',
            'q(GrossAmount|VENDOR_NUM)',
            'q(GrossAmount|!VENDOR_NUM)',
            'q(NetAmount1|VENDOR_NUM)',
            'q(NetAmount1|!VENDOR_NUM)',
            'q(VatAmount1|VENDOR_NUM)',
            'q(VatAmount1|!VENDOR_NUM)',
            'q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)',
            'q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)',
            ])
    
    df_results_frequency= pd.DataFrame(columns=['q(OrderNum)','q(VENDOR_NUM)',
            'q(DEBITOR_NUM|OrderNum)',
            'q(VENDOR_NUM|OrderNum)',
            'q(DEBITOR_NUM|!OrderNum)',
            'q(InvoiceNumber|VENDOR_NUM)',
            'q(InvoiceNumber|!VENDOR_NUM)',
            'q(InvoiceDate|VENDOR_NUM)',
            'q(InvoiceDate|!VENDOR_NUM)',
            'q(GrossAmount|VENDOR_NUM)',
            'q(GrossAmount|!VENDOR_NUM)',
            'q(NetAmount1|VENDOR_NUM)',
            'q(NetAmount1|!VENDOR_NUM)',
            'q(VatAmount1|VENDOR_NUM)',
            'q(VatAmount1|!VENDOR_NUM)',
            'q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)',
            'q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)',
            ])

    for key, df in dc_sorted_df.items():

        df_speicher = pd.DataFrame(columns=['q(OrderNum)','q(VENDOR_NUM)',
            'q(DEBITOR_NUM|OrderNum)',
            'q(VENDOR_NUM|OrderNum)',
            'q(DEBITOR_NUM|!OrderNum)',
            'q(InvoiceNumber|VENDOR_NUM)',
            'q(InvoiceNumber|!VENDOR_NUM)',
            'q(InvoiceDate|VENDOR_NUM)',
            'q(InvoiceDate|!VENDOR_NUM)',
            'q(GrossAmount|VENDOR_NUM)',
            'q(GrossAmount|!VENDOR_NUM)',
            'q(NetAmount1|VENDOR_NUM)',
            'q(NetAmount1|!VENDOR_NUM)',
            'q(VatAmount1|VENDOR_NUM)',
            'q(VatAmount1|!VENDOR_NUM)',
            'q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)',
            'q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)',
            ])
        
        df_speicher2 = pd.DataFrame(columns=['q(OrderNum)','q(VENDOR_NUM)',
            'q(DEBITOR_NUM|OrderNum)',
            'q(VENDOR_NUM|OrderNum)',
            'q(DEBITOR_NUM|!OrderNum)',
            'q(InvoiceNumber|VENDOR_NUM)',
            'q(InvoiceNumber|!VENDOR_NUM)',
            'q(InvoiceDate|VENDOR_NUM)',
            'q(InvoiceDate|!VENDOR_NUM)',
            'q(GrossAmount|VENDOR_NUM)',
            'q(GrossAmount|!VENDOR_NUM)',
            'q(NetAmount1|VENDOR_NUM)',
            'q(NetAmount1|!VENDOR_NUM)',
            'q(VatAmount1|VENDOR_NUM)',
            'q(VatAmount1|!VENDOR_NUM)',
            'q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)',
            'q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)',
            ])
        
        result_list = []
        result_list_frequency = []

        ordernum, ordernum_frequency = get_single_value(df, 'OrderNum')
        result_list.append(ordernum)
        result_list_frequency.append(ordernum_frequency)

        vendornum, vendornum_frequency = get_single_value(df, 'VENDOR_NUM')

        result_list.append(vendornum)
        result_list_frequency.append(vendornum_frequency)

        for items1 in list1:
            value, value_frequency = get_data_values2(df, items1)
            result_list.append(value)
            result_list_frequency.append(value_frequency)

        for items2 in list2:
            twovalues, twovalues_frequency = get_data_values_two_booleans2(df, items2)
            result_list.append(twovalues)
            result_list_frequency.append(twovalues_frequency)
            
        df_speicher.loc[key] = result_list 
        df_speicher2.loc[key] = result_list_frequency
  
        df_results.loc[key] = result_list
        df_results_frequency.loc[key] = result_list_frequency


        
        dc_vendors[key] = df_speicher    
        dc_frequency[key] = df_speicher2
        
    return df_results, df_results_frequency ,dc_sorted_df, dc_vendors, dc_frequency

In [ ]:
# Sollwerte bestimmen

def sollwerte_anhand_wahrscheinlichkeit(df):
    sollwerte = pd.Series()
    for column in df.columns:
        #df.values.tolist()
        probability = []
        count = []
        for entry in df[column]:
            #df.values.tolist()
            if (pd.isnull(entry)):
                continue      
            else:
                probability.append(entry[0])
                count.append(entry[1])

        wholecount = sum(count)
        gesamtwahrscheinlichkeit = sum([p * h / wholecount for p, h in zip(probability, count)])  #p = probability * count/wholcount

        sollwerte[column] = gesamtwahrscheinlichkeit
    return sollwerte

sollwerte = sollwerte_anhand_wahrscheinlichkeit(df_results)
#sollwerte.to_csv('data/sollwerte.csv', index=True, header= True, encoding='utf-8')
print(sollwerte)

In [11]:
sollwerte = pd.read_csv('data/sollwerte.csv', encoding='utf-8')
sollwerte_transposed = sollwerte.set_index('Unnamed: 0').T

display(sollwerte_transposed)

Unnamed: 0,q(OrderNum),q(VENDOR_NUM),q(DEBITOR_NUM|OrderNum),q(VENDOR_NUM|OrderNum),q(DEBITOR_NUM|!OrderNum),q(InvoiceNumber|VENDOR_NUM),q(InvoiceNumber|!VENDOR_NUM),q(InvoiceDate|VENDOR_NUM),q(InvoiceDate|!VENDOR_NUM),q(GrossAmount|VENDOR_NUM),q(GrossAmount|!VENDOR_NUM),q(NetAmount1|VENDOR_NUM),q(NetAmount1|!VENDOR_NUM),q(VatAmount1|VENDOR_NUM),q(VatAmount1|!VENDOR_NUM),q(VENDOR_NUM | !OrderNum & DEBITOR_NUM),q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)
0,1.0,0.9,0.99,0.98,0.95,0.95,0.906,0.9,0.85,0.95,0.9,0.9,0.8,0.9,0.8,0.8,0.5
Gewichtung,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,0.5,2.0,1.0,0.7,0.7,0.7,0.7,1.0,1.0
Comment,Regulären Ausdruck,variable,wenn nicht stammdatenproblem/falsche bestelldaten,wenn nicht stammdatenproblem/falsche bestelldaten,stammdaten (Adressdaten) im beleg/kopfbereich,Autotrainerproblem,generische Rechnungsnummersuche über Schlüssel...,Autotrainerproblem,generische Rechnungsnummersuche über Schlüssel...,Autotrainerproblem,Betragserkennung,Autotrainerproblem,Betragserkennung abhängig von Steuersatz,Autotrainerproblem,Betragserkennung abhängig von Steuersatz,Lieferantenstammdaten und Bestellstammdaten/se...,Lieferantenstammdaten/semantische Klassifizier...

In [12]:
def first_element(row):
    return row[0]

def get_outliers(df_results):
    outliers_dataframe = pd.Series([],dtype=pd.StringDtype())

    for col in sollwerte_transposed:
        #print(sollwerte_transposed[col])
        std = df_results[col].std()
        sollwert = sollwerte_transposed.iloc[0][col]
        gewichtung = sollwerte_transposed.iloc[1][col]
        absoluter_abstand = np.abs(sollwert - df_results[col])
        outliers = df_results[(df_results[col] - sollwert).abs() > 0.1] #2 * std ((1-sollwert)/2)
        #print(outliers.index.tolist())
        if not outliers.empty:
            outliers_dataframe[col] = outliers.index.tolist()
            #print(f"Ausreißer in Spalte {col}:")
            #print(outliers.index)
            #return(col, outliers.index)

    return(outliers_dataframe)

#median = df_results.median()

def sort_outliers(outliers_results, df_results_frequency):
    sorted_outliers_dataframe = pd.Series([],dtype=pd.StringDtype())
    for entry in outliers_results.items():
        filtered_df2 = df_results_frequency[df_results_frequency.index.isin(entry[1])]
        sorted_filtered_df2 = filtered_df2.sort_values(by=entry[0], ascending=False)
        sorted_filtered_df2 = sorted_filtered_df2[entry[0]]
        sorted_outliers_dataframe[entry[0]]  = sorted_filtered_df2.index.tolist()
    #print(df_results_debitor_frequency[entry[0]].sort_values(entry[1]))
    return sorted_outliers_dataframe
    #entry[1]

In [13]:
def sort_numbers_by_position(df, sollwerte_transposed ,col_name, threshold):
    count_numbers = {}
    positions = {}
    for i, row in df.iterrows():
        gewichtung = sollwerte_transposed.iloc[1][i]
        for number in row[col_name]:
            if number in count_numbers:
                count_numbers[number] += 1 * gewichtung
            else:
                count_numbers[number] = 1
            if number in positions:
                positions[number].append(row[col_name].index(number))
            else:
                positions[number] = [row[col_name].index(number)]
    
    sorted_counts = sorted(count_numbers.items(), key=lambda x: sum(positions[x[0]]) / len(positions[x[0]]))
    sorted_numbers = [x[0] for x in sorted_counts]
    
    threshold_numbers = [x[0] for x in sorted_counts if x[1] >= threshold]
    
    return sorted_numbers, threshold_numbers

In [14]:
startdate = "'2022-12-20 09:44:23.030'"
enddate = "'2023-06-13 12:28:20.000'"

df_table_cclogattributes = get_table_data_CCLOG('CCLogAttributes', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+'')
                                           ,""+startdate+"",""+enddate+"")
df_table_cclogattributes = df_table_cclogattributes.drop(['Zone','Attribute_DataType','LogTimeTicks'], axis=1)
df_table_cclogattributes = df_table_cclogattributes.replace('\n',' ', regex=True)
df_table_cclogattributes = df_table_cclogattributes.replace('\r',' ', regex=True)
df_table_cclogattributes.to_csv('./data/cclogattributes_T_'+tenant+'_reduced.csv', index=False, header= True, encoding='utf-8')

In [15]:
score_card = pd.Series([],dtype=pd.StringDtype())
df_scorecard_dataframe = pd.DataFrame(columns=['Mandant','Lieferant','Fehlercode','DocumentID','MissingCode'])

sollwerte = pd.read_csv('data/sollwerte.csv', encoding='utf-8')
sollwerte_transposed = sollwerte.set_index('Unnamed: 0').T
dc_sorted_df_vendor_complete = dict()
dc_all_frequency_df_vendor_complete = {}
dc_all_results_df_vendor_complete = {}

df_results_debitor,df_results_frequency ,dc_sorted_df_debitor, schmutz, schmutz2 = get_data_values_complete_results(tenant, 'DEBITOR_NUM', df_table_cclogattributes)
outliers_results = get_outliers(df_results_debitor)
outliers_results_sorted_debitor = sort_outliers(outliers_results, df_results_frequency)
outliers_results_debitor_frame = outliers_results_sorted_debitor.to_frame()
sorted_counts, high_frequency_numbers_debitor = sort_numbers_by_position(outliers_results_debitor_frame, sollwerte_transposed,0, threshold=3)

bad_vendors = []
count = 0
for entry in high_frequency_numbers_debitor:
    dc_sorted_df_vendor_complete[entry] = {}
    dc_all_results_df_vendor_complete[entry] = {}
    dc_all_frequency_df_vendor_complete[entry] = {}
    df_results_vendor, df_results_frequency_vendor, dc_sorted_df_vendor, dc_vendors, dc_frequency = get_data_values_complete_results(tenant, 'VENDOR_NUM', dc_sorted_df_debitor[entry])
    dc_all_results_df_vendor_complete[entry].update(dc_vendors)
    dc_sorted_df_vendor_complete[entry].update(dc_sorted_df_vendor)
    #display(dc_frequency)
    dc_all_frequency_df_vendor_complete[entry].update(dc_frequency)
    outliers_results_vendor = get_outliers(df_results_vendor)
    outliers_results_sorted_vendor = sort_outliers(outliers_results_vendor, df_results_frequency_vendor)
    outliers_results_vendor_frame = outliers_results_sorted_vendor.to_frame()
    sorted_counts_vendor, high_frequency_numbers_vendor = sort_numbers_by_position(outliers_results_vendor_frame, sollwerte_transposed, 0, threshold=3)
    bad_vendors.append(high_frequency_numbers_vendor)
    #print(high_frequency_numbers_vendor)

    for entry_high_frequency_numbers_vendor in high_frequency_numbers_vendor:
        df_scorecard_dataframe.loc[count, 'Mandant'] = entry
        df_scorecard_dataframe.loc[count, 'Lieferant'] = entry_high_frequency_numbers_vendor 
        count += 1
        
    score_card[entry]  = high_frequency_numbers_vendor

for entry in list(set(df_results_debitor.index) - set(high_frequency_numbers_debitor)):
    dc_sorted_df_vendor_complete[entry] = {}
    dc_all_results_df_vendor_complete[entry] = {}
    dc_all_frequency_df_vendor_complete[entry] = {}
    df_results_vendor, df_results_frequency_vendor, dc_sorted_df_vendor, dc_vendors,dc_frequency = get_data_values_complete_results(tenant, 'VENDOR_NUM', dc_sorted_df_debitor[entry])
    dc_all_results_df_vendor_complete[entry].update(dc_vendors)
    dc_sorted_df_vendor_complete[entry].update(dc_sorted_df_vendor)
    dc_all_frequency_df_vendor_complete[entry].update(dc_frequency)

In [16]:
display(score_card)

d-velop                      [50024, 52174, 51317, 59666, 56402, 57430, 500...
d.velop Sulzbach                                  [52174, 59671, 56000, 56651]
codia                        [50024, 50406, 57644, 57014, 56466, 52287, 585...
d.velop Kiel                 [51418, 57793, 50406, 57778, 59716, 57341, 575...
d.velop AT                   [56153, 52893, 52896, 59370, 59699, 58552, 529...
Classcon Consulting          [50044, 54335, 57605, 53561, 57341, 58675, 59678]
d.velop Schweiz                            [59568, 59930, 59889, 52989, 59909]
d.velop campus                                                         [50700]
d.velop campus Verwaltung                                              [53143]
dtype: object

In [17]:
df_results_debitor["Mandant"] = df_results_debitor.index
df_results_debitor.to_json('data/results_debitor.json', orient="records")

In [80]:
import json
json_data = df_results_debitor.to_json(orient='index')

# JSON-Objekt in Python-Datenstruktur konvertieren
data = json.loads(json_data)

# Aktualisiertes JSON-Objekt erstellen
updated_data = {str(key): {**{df_results_debitor.index.name: key}, **value} for key, value in data.items()}

# Aktualisiertes JSON-Objekt in Datei speichern
with open('output.json', 'w', encoding='utf-8') as file:
    json.dump(updated_data, file, ensure_ascii=False)

In [72]:
df_results_debitor.reset_index(inplace=True)
df_results_debitor.to_json('data/results_debitor.json', orient='split')
df3 = pd.read_json('data/results_debitor.json', orient='split').set_index('Mandant')
display(df3)

,level_0,index,q(OrderNum),q(VENDOR_NUM),q(DEBITOR_NUM|OrderNum),q(VENDOR_NUM|OrderNum),q(DEBITOR_NUM|!OrderNum),q(InvoiceNumber|VENDOR_NUM),q(InvoiceNumber|!VENDOR_NUM),q(InvoiceDate|VENDOR_NUM),q(InvoiceDate|!VENDOR_NUM),q(GrossAmount|VENDOR_NUM),q(GrossAmount|!VENDOR_NUM),q(NetAmount1|VENDOR_NUM),q(NetAmount1|!VENDOR_NUM),q(VatAmount1|VENDOR_NUM),q(VatAmount1|!VENDOR_NUM),q(VENDOR_NUM | !OrderNum & DEBITOR_NUM),q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)
Mandant,,,,,,,,,,,,,,,,,,,
codia,0,0,NaN,0.971226,NaN,NaN,NaN,0.846042,0.508197,0.982516,0.836066,0.966974,0.852459,0.499271,0.360656,0.494900,0.360656,NaN,NaN
d-velop,1,1,0.995053,0.970684,1.0,0.99929,1.0,0.877932,0.600000,0.986094,0.804651,0.961652,0.720930,0.512151,0.334884,0.495575,0.339535,NaN,NaN
d.velop Kiel,2,2,1.000000,0.959856,1.0,1.00000,NaN,0.954432,0.731343,0.983146,0.895522,0.879526,0.895522,0.250936,0.477612,0.246567,0.462687,NaN,NaN
d.velop Sulzbach,3,3,NaN,0.715827,NaN,NaN,NaN,0.834171,0.037975,0.974874,0.860759,0.989950,0.797468,0.366834,0.329114,0.366834,0.316456,NaN,NaN
d.velop AT,4,4,0.769231,0.943005,1.0,1.00000,1.0,0.934066,0.181818,0.934066,0.636364,0.978022,0.636364,0.609890,0.454545,0.604396,0.454545,NaN,NaN
d.velop campus,5,5,NaN,0.980501,NaN,NaN,NaN,0.954545,0.857143,0.982955,0.571429,0.974432,0.857143,0.650568,0.428571,0.642045,0.428571,NaN,NaN
Classcon Consulting,6,6,NaN,0.839695,NaN,NaN,NaN,0.954545,0.857143,0.972727,0.952381,0.972727,1.000000,0.509091,0.476190,0.518182,0.428571,NaN,NaN
d.velop campus Verwaltung,7,7,NaN,0.500000,NaN,NaN,NaN,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
d.velop Schweiz,8,8,NaN,0.633333,NaN,NaN,NaN,0.842105,0.636364,0.894737,0.818182,0.894737,0.727273,0.947368,1.000000,0.789474,0.909091,NaN,NaN
CPV-Vermögensverwaltung,9,9,NaN,1.000000,NaN,NaN,NaN,0.882353,NaN,0.470588,NaN,0.941176,NaN,0.294118,NaN,0.294118,NaN,NaN,NaN

In [38]:
import json
class JSONEncoder(json.JSONEncoder):
    def default(self, obj):
        if hasattr(obj, 'to_json'):
            return obj.to_json(orient='records')
        return json.JSONEncoder.default(self, obj)
    
with open('data/test2.json', 'w',  encoding='utf-8') as f:
    json.dump(dc_all_frequency_df_vendor_complete, f, cls=JSONEncoder, ensure_ascii=False, indent=4)

In [22]:
def convert_dataframe_to_json(df):
    return df.replace({pd.NA: None}).to_dict(orient="records")

def convert_dict_to_json(dictionary):
    converted_dict = {}
    for key, value in dictionary.items():
        if isinstance(value, dict):
            converted_dict[key] = convert_dict_to_json(value)
        elif isinstance(value, pd.DataFrame):
            converted_dict[key] = convert_dataframe_to_json(value)
        else:
            converted_dict[key] = value
    return converted_dict

converted_data = convert_dict_to_json(dc_all_frequency_df_vendor_complete)

json_data = json.dumps(converted_data)

with open("data/test6.json", "w") as file:
    file.write(json_data)

In [19]:
sollwerte = pd.read_csv('data/sollwerte.csv', encoding='utf-8')
sollwerte_transposed = sollwerte.set_index('Unnamed: 0').T
sollwerte_json = sollwerte_transposed.iloc[0].to_json()
print(sollwerte_json)
import csv 
import json

def generate_json_object():
    json_object = {}

    with open('data/sollwerte.csv', 'r', encoding='utf-8') as file:
        csv_data = csv.DictReader(file)
        
        for row in csv_data:
            key = row['']
            value = row['Comment']
            
            if key and value:
                json_object[key] = value
    
    return json_object

json_data = generate_json_object()
json_string = json.dumps(json_data, indent=4)
print(json_string)

{"q(OrderNum)":1.0,"q(VENDOR_NUM)":0.9,"q(DEBITOR_NUM|OrderNum)":0.99,"q(VENDOR_NUM|OrderNum)":0.98,"q(DEBITOR_NUM|!OrderNum)":0.95,"q(InvoiceNumber|VENDOR_NUM)":0.95,"q(InvoiceNumber|!VENDOR_NUM)":0.906,"q(InvoiceDate|VENDOR_NUM)":0.9,"q(InvoiceDate|!VENDOR_NUM)":0.85,"q(GrossAmount|VENDOR_NUM)":0.95,"q(GrossAmount|!VENDOR_NUM)":0.9,"q(NetAmount1|VENDOR_NUM)":0.9,"q(NetAmount1|!VENDOR_NUM)":0.8,"q(VatAmount1|VENDOR_NUM)":0.9,"q(VatAmount1|!VENDOR_NUM)":0.8,"q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)":0.8,"q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)":0.5}
{
    "q(OrderNum)": "Regul\u00e4ren Ausdruck",
    "q(VENDOR_NUM)": "variable",
    "q(DEBITOR_NUM|OrderNum)": "wenn nicht stammdatenproblem/falsche bestelldaten",
    "q(VENDOR_NUM|OrderNum)": "wenn nicht stammdatenproblem/falsche bestelldaten",
    "q(DEBITOR_NUM|!OrderNum)": "stammdaten (Adressdaten) im beleg/kopfbereich",
    "q(InvoiceNumber|VENDOR_NUM)": "Autotrainerproblem",
    "q(InvoiceNumber|!VENDOR_NUM)": "generische Rechnungsnummersuche \u00fcber Schl\u00fcsselw\u00f6rter ",
    "q(InvoiceDate|VENDOR_NUM)": "Autotrainerproblem",
    "q(InvoiceDate|!VENDOR_NUM)": "generische Rechnungsnummersuche \u00fcber Schl\u00fcsselw\u00f6rter ",
    "q(GrossAmount|VENDOR_NUM)": "Autotrainerproblem",
    "q(GrossAmount|!VENDOR_NUM)": "Betragserkennung",
    "q(NetAmount1|VENDOR_NUM)": "Autotrainerproblem",
    "q(NetAmount1|!VENDOR_NUM)": "Betragserkennung abh\u00e4ngig von Steuersatz",
    "q(VatAmount1|VENDOR_NUM)": "Autotrainerproblem",
    "q(VatAmount1|!VENDOR_NUM)": "Betragserkennung abh\u00e4ngig von Steuersatz",
    "q(VENDOR_NUM | !OrderNum & DEBITOR_NUM)": "Lieferantenstammdaten und Bestellstammdaten/semantische Klassifizierung \u00fcber Kopf und Fu\u00dfbereich",
    "q(VENDOR_NUM| !OrderNum & ! DEBITOR_NUM)": "Lieferantenstammdaten/semantische Klassifizierung \u00fcber Kopf und Fu\u00dfbereich"
}

In [20]:
df_table_cclogvariants = get_table_data_ALL('CCLOGVARIANTS', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+''))
df_table_cclogautotrain = get_table_data_CCLOGAUTOTRAIN('CCLOGAUTOTRAIN', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+''),""+startdate+"",""+enddate+"")

df_table_cclogvariants = df_table_cclogvariants.replace('\n',' ', regex=True)
df_table_cclogautotrain = df_table_cclogautotrain.replace('\r',' ', regex=True)
df_table_cclogvariants = df_table_cclogvariants.replace('\n',' ', regex=True)
df_table_cclogautotrain = df_table_cclogautotrain.replace('\r',' ', regex=True)

df_table_cclogvariants = df_table_cclogvariants.drop(['ID', 'ATTRIB_STRUCTURE','DCMODULE_NAME'], axis=1)
df_table_cclogvariants = df_table_cclogvariants.rename({'TRAINING_ID': 'ID'}, axis=1)

In [278]:
def convert_date(date_string):
    input_format = "%d.%m.%Y %H:%M:%S"
    output_format = "%Y-%m-%d %H:%M:%S"
    date_object = datetime.strptime(date_string, input_format)
    converted_date = datetime.strftime(date_object, output_format)
    
    return converted_date

def check_distribution(df, changed_type, stop_time ):
    converted_date = convert_date(stop_time)
    df_before = df[df['LogTime'] < converted_date]
    df_after = df[df['LogTime'] >= converted_date]
    if not df_before.empty or not df_after.empty:
        if changed_type == 'TrustedAmount':
            changed_type = 'GrossAmount'
        if changed_type == 'invoicenumber':
            changed_type = 'InvoiceNumber'
        if changed_type == 'invoicedate':
            changed_type = 'InvoiceDate'
        distribution_before = get_single_value(df_before, changed_type)
        distribution_after = get_single_value(df_after, changed_type)

    return distribution_before, distribution_after

In [301]:
merged_df = pd.merge(df_table_cclogautotrain, df_table_cclogvariants, on='ID')
merged_df[['VENDOR', 'VENDOR_NUM', 'CHANGED_TYPE']] = merged_df['ATTRIB_PATH'].str.split('.', expand=True)

flat_dict = defaultdict(pd.DataFrame)
ergebnis_df = pd.DataFrame

for mandant, lieferanten_dict in dc_sorted_df_vendor_complete.items():
    for lieferant, df in lieferanten_dict.items():
        if not flat_dict[lieferant].empty:
            flat_dict[lieferant] = pd.concat([flat_dict[lieferant], df])
        else:
            flat_dict[lieferant] = df
        
flat_dict = dict(flat_dict)

for df_name, df in flat_dict.items():
    sorted_df = df.sort_values(by='LogTime', ascending=False)
    unique_ids = []


    for index, row in sorted_df.iterrows():
        if row['DocumentID'] not in unique_ids:
            unique_ids.append(row['DocumentID'])
        if len(unique_ids) == 5:
            break

    def join_entries(entry_list):
        return ','.join(entry_list) if entry_list else ''
        
    if str(df_name) in merged_df['VENDOR_NUM'].unique():
        print(df_name)
        y = merged_df[merged_df['VENDOR_NUM'] == df_name]
        if 'inserted' in y['STATUS'].unique(): 
            stop_time = y['STOP_TIME']
            changed_type = y['CHANGED_TYPE']
            for item, item2 in zip(stop_time, changed_type):
                x = merged_df[merged_df['CHANGED_TYPE'] == item2]
                score_before, score_after = check_distribution(df, item2, item )
                abc = y.index
            for thing in abc:
                merged_df.at[thing, 'ScoreBefore'] = score_before[0]
                merged_df.at[thing, 'ScoreAfter'] = score_after[0]
                merged_df.at[thing, 'FrequencyBefore'] = score_before[1]
                merged_df.at[thing, 'FrequencyAfter'] = score_after[1]


        res = merged_df.index[merged_df['VENDOR_NUM'].isin({df_name})]
        for item in res:
            merged_df.at[item, 'LastDocuments'] = join_entries(unique_ids)

merged_df = merged_df.replace({np.nan: None})
data_dict = merged_df.set_index('VENDOR_NUM').T.to_dict()
json_obj = {key: value for key, value in data_dict.items()}
#display(merged_df)
save_file = open("data/savedata.json", "w")  
json.dump(json_obj, save_file, indent = 6)  


save_file.close()

52174
53971
57497
56439
57793
57839
59568

C:\Users\lete\AppData\Local\Temp\ipykernel_12480\3553821210.py:52: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

In [284]:
if(os.path.isfile('data/'+str(tenant)+'/autotrain_'+str(tenant)+'_.json') == True):
    with open('data/'+str(tenant)+'/autotrain_'+str(tenant)+'_.json') as user_file:
        file_contents = user_file.read()
print(file_contents)

{
      "VENDOR_NUM": {
            "ID": "124DEAA9-E591-4659-A30C-ACC9F1D9B1DE",
            "START_TIME": "02.05.2023 10:25:34",
            "STOP_TIME": "02.05.2023 10:25:34",
            "START_TIME_TICKS": 638186199349572427,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 1.0,
            "TEMPLATES_INSERTED": 1.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "VENDOR_NUM",
            "SCORE": -0.11111111,
            "TESTED_COUNT": 6.0,
            "ATTRIB_PATH": "vendor.VENDOR_NUM.invoicenumber",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "invoicenumber",
            "LastDocuments": NaN
      },
      "52174": {
            "ID": "207CB25C-85B7-44D7-81CC-F6431FF73996",
            "START_TIME": "04.05.2023 01:32:20",
            "STOP_TIME": "04.05.2023 01:32:20",
            "START_TIME_TICKS": 638187607407076056,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 1.0,
            "TEMPLATES_INSERTED": 1.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "52174",
            "SCORE": 0.25,
            "TESTED_COUNT": 4.0,
            "ATTRIB_PATH": "vendor.52174.TrustedAmount",
            "STATUS": "deleted",
            "DELETING_TASK_ID": "EF7ACC89-988F-491F-889A-5FF6D95D515E",
            "VENDOR": "vendor",
            "CHANGED_TYPE": "TrustedAmount",
            "LastDocuments": "beb52b8b-6c0e-48f1-bb6f-a3eaa93fc74f,f6fd4dc1-4c8f-4f04-beee-6fbd241058ac,9ec252ca-d87d-4e40-82b5-2dc11cf00965,a6b3b2ec-1ae8-4912-b8bd-c2bce2403b97,0687dd1c-290c-4dba-9d3d-44748f1243d9"
      },
      "57839": {
            "ID": "4B55E40F-BD1A-4D90-B203-14E6E1FA0096",
            "START_TIME": "03.05.2023 09:08:21",
            "STOP_TIME": "03.05.2023 09:08:21",
            "START_TIME_TICKS": 638187017016276912,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 1.0,
            "TEMPLATES_INSERTED": 1.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "57839",
            "SCORE": 0.2,
            "TESTED_COUNT": 5.0,
            "ATTRIB_PATH": "vendor.57839.invoicedate",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "invoicedate",
            "LastDocuments": "c958455f-d3d9-4cb7-8cc2-327396757d6d,c5f6c8f2-3045-4868-a6b8-29c3f0547ec9,40b2390f-7883-4926-8e6c-1ba84d53bdbc,f30900a1-ccea-4bd8-9c8d-37ad6cdfa892,a61fa194-de37-42b7-915c-f3258cc45031"
      },
      "57793": {
            "ID": "B0EB2203-B26F-4BF0-BC5B-8F57AC081879",
            "START_TIME": "04.05.2023 13:18:51",
            "STOP_TIME": "04.05.2023 13:18:51",
            "START_TIME_TICKS": 638188031313165385,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 3.0,
            "TEMPLATES_INSERTED": 3.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "57793",
            "SCORE": -0.2,
            "TESTED_COUNT": 11.0,
            "ATTRIB_PATH": "vendor.57793.TrustedAmount",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "TrustedAmount",
            "LastDocuments": "032f0373-95a7-4d28-8118-9c8e13ceae36,272e5cd3-0f0b-4e72-9756-0d2de950d0d8,e5e5f51c-6e1e-4157-b818-6fe900694815,5a6a866b-be53-4af0-a773-f0c3d04b91c2,4c1d6990-d03a-4f97-8624-c8101d7910c9"
      },
      "53971": {
            "ID": "9C90340D-6C14-4698-865C-C641567F5F03",
            "START_TIME": "09.05.2023 09:01:08",
            "STOP_TIME": "09.05.2023 09:01:08",
            "START_TIME_TICKS": 638192196688512967,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 2.0,
            "TEMPLATES_INSERTED": 3.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "53971",
            "SCORE": 0.5,
            "TESTED_COUNT": 2.0,
            "ATTRIB_PATH": "vendor.53971.invoicedate",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "invoicedate",
            "LastDocuments": "275d52fd-8236-4ea4-991d-9a3897a508bc,259ce254-b8b9-42f0-9a01-f3587ba2e15c,fa6e789f-31f5-4dab-8aa8-58ffb8b8f6ef,27565d1d-c190-44ab-b217-55d99f0f2e98,d4de27ee-f50c-4ca0-b9fb-1b2f70f650e6"
      },
      "56439": {
            "ID": "01630989-1810-4E32-B894-EA23B9199B4D",
            "START_TIME": "04.05.2023 08:59:37",
            "STOP_TIME": "04.05.2023 08:59:37",
            "START_TIME_TICKS": 638187875771328476,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 1.0,
            "TEMPLATES_INSERTED": 1.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "56439",
            "SCORE": 1.0,
            "TESTED_COUNT": 2.0,
            "ATTRIB_PATH": "vendor.56439.invoicedate",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "invoicedate",
            "LastDocuments": "7469722d-1beb-4690-a4fe-c8122735c04e,90bb2921-94dd-4c7e-9d4f-0d7e52397c6e,3f64e5af-b2ea-444b-b368-603ccb6c64c3,13c7d8b6-94d1-4181-bb3b-03ccb92d022d,1b87dbcd-4c68-41d7-8d44-e96c4b97eaa6"
      },
      "57497": {
            "ID": "5545DB86-7DF8-4539-8CE0-9BD228AD2103",
            "START_TIME": "15.05.2023 10:33:23",
            "STOP_TIME": "15.05.2023 10:33:23",
            "START_TIME_TICKS": 638197436038335652,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 1.0,
            "TEMPLATES_INSERTED": 4.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "57497",
            "SCORE": 0.33333334,
            "TESTED_COUNT": 3.0,
            "ATTRIB_PATH": "vendor.57497.TrustedAmount",
            "STATUS": "deleted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "TrustedAmount",
            "LastDocuments": "ca9feb5c-907b-4f8f-9be4-bb2bc3ecb5bf,2282bc87-8acd-464a-9e72-6c8ec9bbe920,c5ad0c66-2374-47a1-af74-6e567722e83d,48f4fb31-eba5-4dd8-9a3b-d725090bb47e,2ccde03b-eb66-4ae6-904c-cd1b80822ccb"
      },
      "59568": {
            "ID": "2587278E-1954-4285-9E73-EEEBB300834E",
            "START_TIME": "17.05.2023 12:04:37",
            "STOP_TIME": "17.05.2023 12:04:37",
            "START_TIME_TICKS": 638199218771138798,
            "CONF_FILE": "",
            "CATEGORIES_ANALYZED": 2.0,
            "TEMPLATES_INSERTED": 1.0,
            "TEMPLATES_DELETED": 0.0,
            "CLIENT_FIELD": "59568",
            "SCORE": 1.0,
            "TESTED_COUNT": 2.0,
            "ATTRIB_PATH": "vendor.59568.TrustedAmount",
            "STATUS": "inserted",
            "DELETING_TASK_ID": null,
            "VENDOR": "vendor",
            "CHANGED_TYPE": "TrustedAmount",
            "LastDocuments": "d77c3fc4-3c33-44cd-ac9a-d4e5010881e7,b5eda476-4ac3-4d08-abfc-ef5b25ada02a"
      }
}

In [35]:
tenant = '000git'
df_table_ccvendors = get_table_data_ALL('CC_VENDORS', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+''))
df_table_ccvendors_bank = get_table_data_ALL('CC_VENDOR_BANK', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+''))

df_table_ccvendors = df_table_ccvendors.replace('\n',' ', regex=True)
df_table_ccvendors = df_table_ccvendors.replace('\r',' ', regex=True)
df_table_ccvendors_bank = df_table_ccvendors_bank.replace('\n',' ', regex=True)
df_table_ccvendors_bank = df_table_ccvendors_bank.replace('\r',' ', regex=True)

In [31]:
combination_counts = df_table_ccvendors_bank.groupby(['COMPANY_NUM', 'VENDOR_NUM', 'IBAN']).size().reset_index(name='Anzahl')

häufige_kombinationen = combination_counts[combination_counts['Anzahl'] > 1]
print(häufige_kombinationen)

                  COMPANY_NUM VENDOR_NUM                    IBAN  Anzahl
139   CPV-Vermögensverwaltung      53824  DE27701500001006863466       2
1255                  d-velop      50355  DE98200505501353130808       2
1276                  d-velop      50376  DE64600501010008808929       2
1500                  d-velop      50638  DE91360800800404247500       2
1759                  d-velop      50941  DE25600907000579016005       2
2247                  d-velop      51485  DE46700700240005227277       2
3028                  d-velop      52353  DE82400501500000545566       2
3578                  d-velop      53747  DE57250800200460179800       2

In [85]:
import pandas as pd
import os
if not os.path.isfile('./data/'+str(tenant)+'/ccvendors_bank'+tenant+'_.csv'):

    df_table_ccvendors_bank = get_table_data_ALL('CC_VENDOR_BANK', connect_to_db_better(connection_string= 'classconprocessingger.database.windows.net', database = 'T_'+tenant+''))

    df_table_ccvendors_bank = df_table_ccvendors_bank.replace('\n',' ', regex=True)
    df_table_ccvendors_bank = df_table_ccvendors_bank.replace('\r',' ', regex=True)
    df_table_ccvendors_bank.to_csv('./data/'+str(tenant)+'/ccvendors_bank'+tenant+'_.csv', index=False, header= True, encoding='utf-8')

else:
    df_table_ccvendors_bank = pd.read_csv('./data/'+str(tenant)+'/ccvendors_bank'+tenant+'_.csv', encoding='utf-8')

spalte3_counts = df_table_ccvendors_bank['IBAN'].value_counts()
häufige_werte_spalte3 = spalte3_counts[spalte3_counts > 1]

counter = 0
double_ibans = []
for wert_spalte3 in häufige_werte_spalte3.index:
    filtered_df = df_table_ccvendors_bank[df_table_ccvendors_bank['IBAN'] == wert_spalte3]

    unique_combinations = filtered_df.groupby(['COMPANY_NUM', 'VENDOR_NUM']).size().reset_index()
    
    if len(unique_combinations) > 1:
        double_ibans.append(wert_spalte3)
        counter += 1
        #print(unique_combinations)

if (counter > 1):
    print(counter)
    print(double_ibans)

1098
['53071676', '50207042', '2211555', '1328202', '56953458', '5749700', '1579473', '52623170', 'SE5795000099601809190315', '58512120', '6398770', '54653795', '6783773', '52629912', 'SE8460000000000705731162', '53521571', '52629904', '50171693', '59873968', '2214294', '4812426', '3304086', '53837936', '59591933', '5652219', '55601504', '55108500', '52494309', '7346232', '6297212', '21000021', '53743886', '51737922', '56227515', '4009981', '56117526', '52108057', '7942782', '9171711', '51525707', '6069892', '7771066', '8797698', '7001761', '54952957', '58483975', '3435286', '3616794', '50955582', '8674046', '6205793', '9913500', '52337375', '53065306', 'SE3812000000012350402738', '54146329', '8815714', '57045916', '53013280', '2915635', '8099160', '9324963', '2908804', '50851567', '50109198', '54949987', '54744586', '1404755', '52092616', '6528194', '4608816', '8344384', '4304812', '6597330', '8813313', '59627448', '52761483', '9292111', '52629888', 'SE2212000000013390104801', '4817854', '1124460', '53311338', '8344400', '7861420', '52158649', '54693866', 'IE58BOFA99006155677054', 'NL89ABNA0460333313', '53153128', '6900005', '55054167', '50516822', '59423186', '4760260', '53519211', '50655018', '6713523', '4572129', '59661371', '58398488', 'GB48DEUT40508126077700', '56753346', '55390298', '51751188', '52495447', '52776051', '6070023', '52679065', '9423047', '2595445', '2203446', '53271045', '4141883', '5736079', '2868180', '56713530', '4467411', '1651371', '59787374', '53564951', '3466034', '1305507', '1558469', '5695259', '6000376', '2572089', '59116871', '58460007', 'FI1720461800131278', '4788105', '56525124', '57533820', '1188192', '54075148', '51243822', '53562393', '5158704', '7111891', '3409430', '57192643', '400530', '4203311', 'SE6195000099602618058693', '5147806', '3547122', '5841127', '55259345', '58193434', '8364663', '56988595', '7207715', '3230000', '51912095', '7247182', '50967645', '55621742', '50628627', '3064482', '8667602', '4091302', '52041191', '4514568', '5642335', '51743193', '1448588', '50354471', '55398010', '53736534', '200000', '53722666', '6067714', '2559334', '2861508', '53238945', '3937422', 'SE0295000099604216049298', '59703207', '50530989', '8598526', '2047553', '3588886', '3730819', '54150834', '2838506', '7072457', '1602713', '52084589', '8243040', '2525459', '53444733', '50950385', '6776942', '5478334', '1274737', '51073385', '608371', '58003930', '1298736', '4837571', '4305488', '56632482', '52901303', '57965568', '3818481', '8114092', '51031797', '54294616', '2607034', '51059285', '5889696', '5758222', 'FR7630004008040000278871336', '50346980', '7184401', '4025052', '56242498', '52784303', '4783593', '53984290', '8014896', '1713056', '55213821', '1072164', '1352251', '52339330', '54298310', '51802528', '6325682', '1687201', '1634849', '53456604', '8402125', '53828786', 'SE6650000000052501000080', '2505683', '1969351', '56073984', '8393043', '57652224', '54525852', '4784773', 'NL95ABNA0612132870', '4782611', '57776304', '56406242', '56828742', 'LT647044060001059350', '54975529', '59039123', '50088707', 'SE3760000000000635522632', '51185726', '2554285', '53181277', '59252452', '1645308', '52512670', '51703098', '3365517', 'SE4795000099601807175029', 'DK1490764575652374', '55902019', '50498492', 'NO4690491131402', '52828563', 'SE2550000000053671012587', 'FI9512203000278404', '2427680', 'NO6092302235610', '59981522', '57239394', '6069124', '51721801', 'IE79BOFA99006154878075', '4422069', 'SE2530000000011953057748', '2859411', 'NL20ABNA0488274338', '4114054', '3885274', '53784880', '3136744', '58377144', 'MT81PYMX09014000001067820100001', '57580334', '53230942', '6160071', '52142643', '5676507', 'GB16BOFA16505068570053', 'NO4970580667102', '53894051', 'DK8030000010102456', 'SE2780000831395242327186', '4003042', '50518760', '55295299', '2245561', '2508125', '1397736', '55398051', 'MT82APSB77013000000040658510014', '59224154', '1554872', 'DK8168450002222224', '55154132', 'DK0520006286653624', 'DK4530003706526803', '2648871', '8435505', '51013787', '55167969', 'NO8671290509623', 'LT702140030000194909', '4905469', '6494470', '1072172', '9129107', '1662337', '1740455', '2744274', 'SE1995000099603408720708', '57992372', 'SE2050000000052331012482', '4201356', '3848520', '59761619', '52991494', '2306173', 'DK6030000012477473', '58928185', '3902038', '2005726', 'DK7130003420373619', '5324728', '7229701', '52953833', '58990979', '8755274', '6837694', '50818145', '2689156', '53505087', '52998424', '52224755', '2110088', 'DE29360200300000422924', '54250816', 'SE4450000000055131095530', '51607174', '2916989', '55775423', 'DK1650250001280009', '7163777', 'SE9450000000055651028501', 'EE172200221070667155', 'SE2860000000000209343788', 'SE0460000000000192039032', '5680541', 'FR7613507001453082890217914', '56746852', '55230924', 'PT50004520304030705831353', 'AT721100000843725300', '54596341', '59402768', 'EE292200221001146360', 'PT50000706040051559000329', '3006798', 'FR6940978000221474204C00194', 'SE4160000000000377673862', '57742280', '4880431', '53319901', 'FR7630076020201502020020087', '2801843', 'CH0204835130941781000', '9750159', '5198239', '59030627', '4573762', '58556838', '51915130', '2237063', 'IT17W0884416100001001015648', '3586617', '54352174', 'NL33RABO0317961969', '5067889', 'EE142200221041115092', '2974251', '59099515', 'DE43740201000108120545', 'DK8150510001423647', 'DK3550510001250651', '2395770', 'DK1930000011841309', '52157674', 'GB38DEUT40508121262703', '1201193', '1401157', '6558969', '2460301', '7228059', '5888490', '5724869', '56972193', '51958163', '50278902', '58113671', '1606078', 'FI2356000520507818', '1089663', '3397999', 'DK4420005496175478', 'NO8197500704822', 'SE8795000099601807423890', 'FI2121851800145444', 'GB14MIDL40025011381059', 'DK2630004110139683', '56341639', '8668345', '59604660', 'SE2595000099604205890462', '51149854', '5315965', '1169689', '6923775', '2081974', 'SE6260000000000966541278', '59911321', 'SE5560000000000508102332', 'PT50001800002336419100155', '51452597', 'DE36672700030017488800', '54986856', '53248498', '55178073', 'SE7312000000012080121308', 'ES3501620001230075340001', 'GB88ABBY09022210918588', 'ES7600490302002010252844', 'PT50001800000450034900137', '50643279', '2634442', '5982665', '6172696', '7151053', '7872419', '8112237', '58023607', '59735969', '3567146', '2912517', 'SE9695000099602607902745', 'DK8551000106290008', 'FI7480001700051114', 'NO4015036331809', 'FI0413133000111652', 'NO4932600828389', 'NO1950820882420', '58458324', '51425973', 'NO6515038446638', '4204038', '1776400', '7188741', '5412580', '51821361', '53960670', '2350304', 'NO5715035449482', 'IT33D0306909400100000110270', 'CH1600780000348404178', 'DK2330004190886611', 'SE8595000099603407458714', '51636769', '53566873', 'MT09APSB77002007966320001558726', 'SE7612000000013160142922', '4072450', 'SE0960000000000013947524', '6657811', '52874328', 'AE590260001014596054301', 'IT10B0306909537000015600124', 'SE2550000000050441011624', '5941133', 'CH1509000000155590204', 'DK3920000715440164', '2863165', 'PT50003520420001883333039', '6759922', 'NO6812864304395', '57388464', '56009186', '52371085', '55167407', '52042942', 'FI2413303000119480', '6515621', '2057164', '121000248', 'FI5389199710003397', '5887781', '7880776', 'GB81NWBK53613343898319', '8490005', '51827285', '9224601', '9505322', '9727819', '51526838', '50772896', '1875855', '5162052', '51705085', '54949227', '1634401', 'GB79CHAS60924241315296', 'NO9215032001278', 'FI0617453000133613', 'NO5797600536102', 'NO3316090461587', 'NO2850810588133', 'NO8664010641096', 'FI6980001400186665', '8532426', '51767705', 'ES1321004343700200160423', 'BE16285030588674', '2348175', '53023339', '50750348', 'DK4530003102132025', '6046635', '5125257', '5666060', '55307961', '57183402', 'NO3360050562827', '51080851', 'DK2698382071320424', '2431666', '5709811', '9120767', '3317518', 'SE0480000816959434997152', 'CH210025525576605660V', 'NO4670500664078', '2145449', 'SE5360000000000183423968', 'SE3460000000000052103188', 'SE9512000000012930149663', '58547274', 'MT30APSB77172005294020000898699', '58317678', 'ES3121000439370200321414', 'CH4704835189686991000', '8410193', '9865569', 'DK1761400004283766', 'PL63144011560000000016547565', '59138701', '50357763', '8492712', '5013040', '58619610', '51477552', '5096441', '57709990', '8606246', '4903316', '52485356', '3736014', 'DK3181170009507382', 'SE2150000000050371067324', '50790989', '3455920', '3217338', '4910618', 'DK5252909020694006', '3066677', '1319912', '56577075', '54802889', '7262306', '6875348', '5120258', '2515864', '50981430', '6720650', '55046064', '1187624', '1209543', '58688623', '3036720', '53244265', '2958742', '58375106', '50979400', 'CH3200287287M00147150', '51694073', '58931536', '8548620', '51792935', '6226500', '400250', '57867574', '8434557', '1102557', '53366050', '58585696', '52576295', '50760032', '54366851', '5371307', '50155472', '54272620', '55423248', '56188998', '50874825', '11849809', '4735825', 'GB03LOYD30992102774599', 'FI1220573800005631', '7204928', 'FI9833010001152206', 'NO9161160447035', 'DE77370502990310554712', '5370168', '8490500', '50887157', '7719354', '5044417', '5002100', '54135355', 'FI4413663000106492', 'FI1216603000002355', 'DE55340600940006230114', '50953132', '50365709', '53779633', 'FI9550000120334098', '55007702', '58206079', '58981564', '59219071', 'FI6852820120190010', '52991031', '55510762', '2020626', '6649396', 'FI9657202320053451', '8349276', '3223302', '58146325', '0', '52952231', '8980757', '56092638', '57606873', 'DK9790701629581142', '54605571', 'BE34385000090090', '8322851', '57546137', '3990397', '2361061', '5855093', '58670894', '57963662', '55391155', 'GB77MIDL40025031308769', '57625675', '1400175', 'SE5050000000052331005540', '52449824', 'SE0950000000050441003958', 'DE39700700100207023300', 'DE96508400050138307400', 'FR7613369000066058470101309', 'NO3297500714240', 'FR7610107001030062402012126', '55086524', '6458079', '51695039', '57406407', '5066360', '58149055', '7754922', '53815023', '58610130', 'EE661700017003345483', '7836539', '59537423', '58947664', '54820188', '50621192', '53669289', '4883989', '52744216', '56158405', '57011603', '53263000', '8793531', '7716780', '57119646', '6609010', '52480985', '4049029', '53039137', '5801261', '7860901', '51668838', '2643492', '52772811', '4810974', '51728301', '57102584', '52891009', '1794551', 'IT55O0622512006100000116130', '1685783', '54842851', '2585149', '58720301', '5018296', '54656632', '6155394', '6925374', '8871915', '6070817', '1953702', '3175304', 'SE4650000000059368268991', '54465067', '4139499', '8682833', '7358427', '53056404', '7051030', '3473410', '6328132', '54085329', 'NL75BNPA0227906411', '401160', '58431503', 'DK8881392073648788', '54632658', 'SE5695000099602605975396', '50838564', '53079489', 'DK7930003001200003', 'GB79HBUK40470291408208', '7526239', 'DK0930000009000941', '59146035', 'GB51BOFA16505059416018', '51291334', '2650034', '2859130', '9519604', '53544177', 'SE5050000000052731040718', '4242764', '2950665', '5849260', '58109844', 'DK1650780001254714', '7311913', '54651831', '7389927', '53590717', '8312332', '8011991', '57722654', '54718580', '52664950', '7552524', '52317039', '5709399', '53681276', 'SE2250000000051321197438', '7331838', '58959966', '58878356', '4796538', '2804359', '58005828', 'IT32L0200841411000104856041', '56703481', 'DE76793400540655222800', '50319631', '5749783', '53675922', 'DK1281400000726060', 'SE1695000099604208866196', '53651493', 'FI5615213000106247', '6345326', 'IT35G0503411200000000019602', '7701162', '51398600', '59951277', '59426544', '50186402', '58506288', '9441049', '6828792', '52338985', '50322858', '6188353', '53550661', '52482833', '5901186', '3928215', '4521365', '4173639', '58397316', '6308423', '7711609', '56625130', '51572915', '50700087', '3187192', '3558681', '2308534', '59860569', '8112435', '55060172', 'SE2450000000052221086481', '8634263', '51090553', 'CH2009000000315118157', '405069', '6572184', 'SE0412000000012200110774', 'NL09INGB0675713110', '7997430', '4456133', '2138204', 'DE66403700790430158600', 'PT50000706360000021000492', '6171698', 'NO4315039209842', '57560625', '8112401', '52809654', '52560828', '56999790', '51865228', '8098444', '2942118', '52895711', '3607322', '6356760', '55857056', '55513154', 'AT062060100300006384', '1249812', '8456139', '51972990', '56328115', '58098898', 'DE39478601251430589200', '54345004', '8284341', 'DE75700500000000031650', 'CH7504835003637812000', '1608066', 'MT46VALL22013000000040013061494', 'DK4550730001222621', 'NL59INGB0686313631', '54021720', 'MT83VALL22013000000040013428749', 'CH7604835005498032004', '2163236', '6722276', '9837030', 'GB94NWBK01054145935610', '3790813', '4276812', '57647240', '7003080', '53466496', 'NO7115032814031', '51554020', '55562649', '4574679', '7229800', '51413839', '55791420', '3409653', '2842185', '55447692', '52956356', '2973212', '3106887', 'NO8971430506662', '59764472', 'DK6720003499930487', '52637410', '50525856', '54490784', '8516346', '4513040', 'FI1157800720025498', '7202633', '7277536', '6101117', '2336659', '5009105', 'FI0218443000001570', 'SE6250000000056231011089', '56358401', 'EE372200221015347210', 'IT74P0301503200000003611328', 'SE2650000000053681116865', 'IE69HSBC99023135621846', 'NL44RABO0354278959', '1979095', 'DE67100708480525651600', 'DE30300400000301995799', 'SE0290400000090401308261', '56021199', 'NL52ABNA0631531025', '110911682110234', 'CH1600700112700533673', 'GB17BARC20510169664722', 'SE0580000810597047720946', '200000509024559000', 'DE40100400000573669900', 'GB42ABBY09012877866148', '3559770', '52079902', '2050342', '57278327', 'DE16680800300654467800', '58240037', '4816120', 'SE3412000000012400113467', '51704542', 'DK5271170001176457', 'DK5550610001107017', '50759802', '59626192', 'SE4180000829901376781900', '5612791', 'SE3460000000000430453531', '54148317', 'FI1721853800011006', '57245656', '52528114', '4134151', '53379640', '2838456', '53658274', 'DE74305500000093494490', '3583143', 'DK7820005036024714', 'MT88VALL22013000000040016877300', 'IT24C0306910928100000002823', '57390957', '1798396', '52009727', '53698270', '52736485', '5807359', '2734861', '9004144', '3688777', '9119744', '59150557', 'NO5797500703605', '1058080', '56683782', '52872827', '58468265', '56814593', '1993948', '8766339', '50449990', '2637700', '51018687', '54131891', '4412979', '6336937', 'FI8831313001001825', '4139580', '2771699', '3492824', '2516292', '54808894', '50499748', '7729296', '3617719', '6383459', '2295574', '1359819', '58586652', '8796666', '4308862', '50195791', '9601717', '5985494', '52795358', '55835631', '59743096', '7223498', '4197638', '5985544', '51634095', '58050774', '2208882', '2577542', '59032599', '56662885', '50817071', '50051572', '6874689', '7783954', '51594570', '59384131', '54891726', '58982588', '52388824', '52817046', '1002138', '3452331', '52734712', '2035913', '6206643', '55386205', '52529013', '5044441', '57963506', '52203411', '51240927', '6480313', '56598493', '59040014', '6022727', '9151796', '5774559', 'SE6095000099604204542114', '50754076', '2738193', '53154886', 'DE19445800700749050100', '56033921', '2270395', 'PT50003300005011760401105', '52268026', '56268816', 'SE8312000000012471400019', '53785713', '4075271', '51073690', '50236637', '55036917', '3182292', '59515635', '6724694', '54217468', '7098163', '51328649', '52709953', '3054053', '7666605', '3068343', '2011005', '2824647', '3126208', '54338744', '51568277', '2137800', 'DK5330003100016699', 'DK0650980002013133', '7578594', '6007165', '53945515', 'DK4277010002910519', '5451570', '58441981', 'SE8150000000055011091023', 'FI2615713000023342', '8761322', '8348377', '8338923', 'DK1572420001204180', '4065009', '57245847', '50322510', '51886794', '6678148', '53673224']

In [86]:
import pandas as pd

spalte3_counts = df_table_ccvendors_bank['IBAN'].value_counts()

häufige_werte_spalte3 = spalte3_counts[spalte3_counts > 1]

for wert_spalte3 in häufige_werte_spalte3.index:
    filtered_df = df_table_ccvendors_bank[df_table_ccvendors_bank['IBAN'] == wert_spalte3]
    
    unique_combinations = filtered_df.groupby(['COMPANY_NUM', 'VENDOR_NUM']).size().reset_index(name='Anzahl')
    
    if len(unique_combinations) > 1:
        print(f"Häufiger Wert in Spalte 3: {wert_spalte3}")
        print(unique_combinations)

Häufiger Wert in Spalte 3: 53071676
    COMPANY_NUM  VENDOR_NUM  Anzahl
0          1100       17337       1
1          1200       16944       1
2          1200       17333       1
3          1300       16311       1
4          1300       17457       1
5          1300       18249       1
6          1400       16311       1
7          1400       16944       1
8          1400       17333       1
9          1400       17337       1
10         1600       18467       1
Häufiger Wert in Spalte 3: 50207042
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       17270       1
1         1100       18189       1
2         1200       17412       1
3         1300       17462       1
4         1300       18111       1
5         1300       18286       1
6         1400       17412       1
7         1400       18470       1
Häufiger Wert in Spalte 3: 2211555
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10564       1
1         1100       15151       1
2         1200       17467       1
3         1200       18236       1
4         1200       18308       1
5         1400       10564       1
6         1400       15151       1
7         1400       18145       1
Häufiger Wert in Spalte 3: 1328202
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14028       1
1         1100       14645       1
2         1200       14028       1
3         1200       14645       1
4         1300       14028       1
5         1300       14645       1
6         1400       14028       1
7         1400       14645       1
Häufiger Wert in Spalte 3: 56953458
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16021       1
1         1200       16021       1
2         1300       16021       1
3         1300       17637       1
4         1400       16021       1
5         1400       17637       1
6         3500       17892       1
Häufiger Wert in Spalte 3: 5749700
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       16413       1
1         1200       16851       1
2         1200       17245       1
3         1400       16413       1
4         1400       16851       1
5         1400       17245       1
6         1400       17270       1
Häufiger Wert in Spalte 3: 1579473
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15372       1
1         1100       16545       1
2         1200       15372       1
3         1300       15372       1
4         1300       16545       1
5         1400       15372       1
6         1400       16545       1
Häufiger Wert in Spalte 3: 52623170
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16489       1
1         1200       10367       1
2         1200       16489       1
3         1300       16489       1
4         1400       10367       1
5         1400       16489       1
Häufiger Wert in Spalte 3: SE5795000099601809190315
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       17304       1
1         1200       17304       1
2         1300       17304       1
3         1400       17304       1
4         2900       17304       1
5         3300       17304       1
Häufiger Wert in Spalte 3: 58512120
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15763       1
1         1200       10255       1
2         1200       15763       1
3         1300       15763       1
4         1400       10255       1
5         1400       15763       1
Häufiger Wert in Spalte 3: 6398770
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       17472       1
1         1200       17509       1
2         1300       17136       1
3         1300       17509       1
4         1300       18458       1
5         1400       17136       1
Häufiger Wert in Spalte 3: 54653795
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16708       1
1         1100       17033       1
2         1200       16708       1
3         1200       17033       1
4         1300       17033       1
5         1400       17033       1
Häufiger Wert in Spalte 3: 6783773
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10702       1
1         1200       10702       1
2         1300       10702       1
3         1300       15831       1
4         1400       10702       1
5         1400       15831       1
Häufiger Wert in Spalte 3: 52629912
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11892       1
1         1200       11892       1
2         1200       14344       1
3         1300       11892       1
4         1400       11892       1
5         1400       14344       1
Häufiger Wert in Spalte 3: SE8460000000000705731162
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       17515       1
1         1300       17515       1
2         2900       17515       1
3         3300       17515       1
4         3500       17515       1
Häufiger Wert in Spalte 3: 53521571
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14109       1
1         1200       10424       1
2         1200       14109       1
3         1400       10424       1
4         1400       14109       1
Häufiger Wert in Spalte 3: 52629904
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10369       1
1         1100       14344       1
2         1200       10369       1
3         1300       10369       1
4         1400       10369       1
Häufiger Wert in Spalte 3: 50171693
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       17539       1
1         1200       10337       1
2         1200       17539       1
3         1300       17539       1
4         1400       17539       1
Häufiger Wert in Spalte 3: 59873968
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16528       1
1         1200       16528       1
2         1200       16590       1
3         1400       16528       1
4         1400       16590       1
Häufiger Wert in Spalte 3: 2214294
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16042       1
1         1200       16042       1
2         1300       16042       1
3         1400       16042       1
4         1400       17619       1
Häufiger Wert in Spalte 3: 4812426
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11453       1
1         1200       11453       1
2         1300       11453       1
3         1400       11453       1
Häufiger Wert in Spalte 3: 3304086
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16677       1
1         1200       16677       1
2         1300       16677       1
3         1400       16677       1
Häufiger Wert in Spalte 3: 53837936
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       12052       1
1         1200       12052       1
2         1300       12052       1
3         1400       12052       1
Häufiger Wert in Spalte 3: 59591933
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16127       1
1         1200       16127       1
2         1300       16127       1
3         1400       16127       1
Häufiger Wert in Spalte 3: 5652219
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14479       1
1         1200       14479       1
2         1300       14479       1
3         1400       14479       1
Häufiger Wert in Spalte 3: 55601504
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10902       1
1         1200       10902       1
2         1300       10902       1
3         1400       10902       1
Häufiger Wert in Spalte 3: 55108500
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       17115       1
1         1300       17322       1
2         1400       17115       1
3         1400       17322       1
Häufiger Wert in Spalte 3: 52494309
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10899       1
1         1100       11872       1
2         1400       10899       1
3         1400       11872       1
Häufiger Wert in Spalte 3: 7346232
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14735       1
1         1200       14735       1
2         1300       14735       1
3         1400       14735       1
Häufiger Wert in Spalte 3: 6297212
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10681       1
1         1200       10681       1
2         1300       10681       1
3         1400       10681       1
Häufiger Wert in Spalte 3: 21000021
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         3500       17678       1
1         3500       17687       1
2         3500       17692       1
3         3500       17886       1
Häufiger Wert in Spalte 3: 53743886
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14620       1
1         1200       14620       1
2         1300       14620       1
3         1400       14620       1
Häufiger Wert in Spalte 3: 51737922
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16315       1
1         1200       16350       1
2         1400       16315       1
3         1400       16350       1
Häufiger Wert in Spalte 3: 56227515
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14561       1
1         1200       14561       1
2         1300       14561       1
3         1400       14561       1
Häufiger Wert in Spalte 3: 4009981
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15759       1
1         1200       15759       1
2         1300       15759       1
3         1400       15759       1
Häufiger Wert in Spalte 3: 56117526
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15264       1
1         1200       15264       1
2         1300       15264       1
3         1400       15264       1
Häufiger Wert in Spalte 3: 52108057
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15652       1
1         1200       15652       1
2         1200       18106       1
3         1400       15652       1
Häufiger Wert in Spalte 3: 7942782
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16752       1
1         1200       16752       1
2         1300       16752       1
3         1400       16752       1
Häufiger Wert in Spalte 3: 9171711
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       16055       1
1         1300       16055       1
2         1400       16055       1
3         3500       17890       1
Häufiger Wert in Spalte 3: 51525707
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16813       1
1         1200       16813       1
2         1300       16813       1
3         1400       16813       1
Häufiger Wert in Spalte 3: 6069892
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10671       1
1         1200       10671       1
2         1300       10671       1
3         1400       10671       1
Häufiger Wert in Spalte 3: 7771066
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16494       1
1         1300       16111       1
2         1400       16111       1
3         1400       16494       1
Häufiger Wert in Spalte 3: 8797698
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16169       1
1         1200       16169       1
2         1300       16169       1
3         1400       16169       1
Häufiger Wert in Spalte 3: 7001761
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10705       1
1         1200       10705       1
2         1300       10705       1
3         1400       10705       1
Häufiger Wert in Spalte 3: 54952957
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       16935       1
1         1200       16974       1
2         1400       16935       1
3         1400       16974       1
Häufiger Wert in Spalte 3: 58483975
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10603       1
1         1300       16267       1
2         1400       10603       1
3         1400       16267       1
Häufiger Wert in Spalte 3: 3435286
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15607       1
1         1200       15607       1
2         1300       15607       1
3         1400       15607       1
Häufiger Wert in Spalte 3: 3616794
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11307       1
1         1200       11307       1
2         1300       11307       1
3         1400       11307       1
Häufiger Wert in Spalte 3: 50955582
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10632       1
1         1200       18276       1
2         1400       10632       1
3         1400       18276       1
Häufiger Wert in Spalte 3: 8674046
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10766       1
1         1200       10766       1
2         1300       10766       1
3         1400       10766       1
Häufiger Wert in Spalte 3: 6205793
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16012       1
1         1200       16012       1
2         1300       16012       1
3         1400       16012       1
Häufiger Wert in Spalte 3: 9913500
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10797       1
1         1200       10797       1
2         1300       10797       1
3         1400       10797       1
Häufiger Wert in Spalte 3: 52337375
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15947       1
1         1200       15947       1
2         1300       15947       1
3         1400       15947       1
Häufiger Wert in Spalte 3: 53065306
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11947       1
1         1200       11947       1
2         1300       11947       1
3         1400       11947       1
Häufiger Wert in Spalte 3: SE3812000000012350402738
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       12842       1
1         1200       12842       1
2         1300       12842       1
3         1400       12842       1
Häufiger Wert in Spalte 3: 54146329
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15184       1
1         1200       18012       1
2         1300       18012       1
3         1400       15184       1
Häufiger Wert in Spalte 3: 8815714
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16514       1
1         1200       16514       1
2         1300       16514       1
3         1400       16514       1
Häufiger Wert in Spalte 3: 57045916
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15989       1
1         1200       16181       1
2         1400       15989       1
3         1400       16181       1
Häufiger Wert in Spalte 3: 53013280
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15795       1
1         1200       15795       1
2         1300       15795       1
3         1400       15795       1
Häufiger Wert in Spalte 3: 2915635
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15752       1
1         1200       15752       1
2         1300       15752       1
3         1400       15752       1
Häufiger Wert in Spalte 3: 8099160
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       18279       1
1         1200       18279       1
2         1300       18279       1
3         1400       18279       1
Häufiger Wert in Spalte 3: 9324963
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10783       1
1         1200       10783       1
2         1300       10783       1
3         1400       10783       1
Häufiger Wert in Spalte 3: 2908804
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11234       1
1         1200       11234       1
2         1300       11234       1
3         1400       11234       1
Häufiger Wert in Spalte 3: 50851567
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15428       1
1         1200       15428       1
2         1300       15428       1
3         1400       15428       1
Häufiger Wert in Spalte 3: 50109198
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11495       1
1         1200       11495       1
2         1300       11495       1
3         1400       11495       1
Häufiger Wert in Spalte 3: 54949987
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10489       1
1         1200       10489       1
2         1300       10489       1
3         1400       10489       1
Häufiger Wert in Spalte 3: 54744586
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14277       1
1         1200       14277       1
2         1300       14277       1
3         1400       14277       1
Häufiger Wert in Spalte 3: 1404755
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15233       1
1         1200       15233       1
2         1300       15233       1
3         1400       15233       1
Häufiger Wert in Spalte 3: 52092616
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11810       1
1         1200       15800       1
2         1400       11810       1
3         1400       15800       1
Häufiger Wert in Spalte 3: 6528194
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1200       10009       1
1         1200       10692       1
2         1400       10009       1
3         1400       10692       1
Häufiger Wert in Spalte 3: 4608816
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15542       1
1         1200       15726       1
2         1400       15542       1
3         1400       15726       1
Häufiger Wert in Spalte 3: 8344384
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15123       1
1         1200       15123       1
2         1300       15123       1
3         1400       15123       1
Häufiger Wert in Spalte 3: 4304812
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15224       1
1         1200       15224       1
2         1300       15224       1
3         1400       15224       1
Häufiger Wert in Spalte 3: 6597330
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       16937       1
1         1200       16937       1
2         1300       16937       1
3         1400       16937       1
Häufiger Wert in Spalte 3: 8813313
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15267       1
1         1200       15267       1
2         1300       15267       1
3         1400       15267       1
Häufiger Wert in Spalte 3: 59627448
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15469       1
1         1200       15469       1
2         1300       15469       1
3         1400       15469       1
Häufiger Wert in Spalte 3: 52761483
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10377       1
1         1200       10377       1
2         1400       10377       1
3         2900       10377       1
Häufiger Wert in Spalte 3: 9292111
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       13118       1
1         1200       13118       1
2         1300       13118       1
3         1400       13118       1
Häufiger Wert in Spalte 3: 52629888
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       10368       1
1         1200       10368       1
2         1300       10368       1
3         1400       10368       1
Häufiger Wert in Spalte 3: SE2212000000013390104801
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       14495       1
1         1200       14495       1
2         1300       14495       1
3         1400       14495       1
Häufiger Wert in Spalte 3: 4817854
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11456       1
1         1200       11456       1
2         1300       11456       1
3         1400       11456       1
Häufiger Wert in Spalte 3: 1124460
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15906       1
1         1200       15906       1
2         1300       15906       1
3         1400       15906       1
Häufiger Wert in Spalte 3: 53311338
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       11979       1
1         1200       11979       1
2         1300       11979       1
3         1400       11979       1
Häufiger Wert in Spalte 3: 8344400
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15263       1
1         1200       15263       1
2         1300       15263       1
3         1400       15263       1
Häufiger Wert in Spalte 3: 7861420
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       15968       1
1         1200       15968       1
2         1300       15760       1
3         1400       15968       1
Häufiger Wert in Spalte 3: 52158649
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       12645       1
1         1300       15950       1
2         1400       12645       1
3         1400       15950       1
Häufiger Wert in Spalte 3: 54693866
   COMPANY_NUM  VENDOR_NUM  Anzahl
0         1100       17224       1

In [95]:
import pandas as pd

def filter_combinations(df):
    grouped = df.groupby(['IBAN', 'COMPANY_NUM'])

    filtered_groups = grouped.filter(lambda x: len(x['VENDOR_NUM'].unique()) > 1)

    unique_combinations = filtered_groups.groupby(['IBAN', 'COMPANY_NUM', 'VENDOR_NUM']).size().reset_index(name='Anzahl')
    laenge = len(unique_combinations.index)
    if not unique_combinations.empty:
        display(unique_combinations)
        print(laenge)
    else:
        print("Es gibt keine Fälle, bei denen Spalte 3 und Spalte 1 gleich sind, aber Spalte 2 unterschiedliche Werte aufweist.")

# Aufruf der Funktion
filter_combinations(df_table_ccvendors_bank)

                                IBAN  COMPANY_NUM  VENDOR_NUM  Anzahl
0                    110911682110234         6100       17655       1
1                    110911682110234         6100       17670       1
2                          121000248         3500       17682       1
3                          121000248         3500       17689       1
4                            1328202         1100       14028       1
5                            1328202         1100       14645       1
6                            1328202         1200       14028       1
7                            1328202         1200       14645       1
8                            1328202         1300       14028       1
9                            1328202         1300       14645       1
10                           1328202         1400       14028       1
11                           1328202         1400       14645       1
12                           1579473         1100       15372       1
13                           1579473         1100       16545       1
14                           1579473         1300       15372       1
15                           1579473         1300       16545       1
16                           1579473         1400       15372       1
17                           1579473         1400       16545       1
18                           1713056         1200       17018       1
19                           1713056         1200       17949       1
20                            200000         3300       17614       1
21                            200000         3300       17641       1
22                            200000         3300       17875       1
23                          21000021         3500       17678       1
24                          21000021         3500       17687       1
25                          21000021         3500       17692       1
26                          21000021         3500       17886       1
27                           2203446         1400       10143       1
28                           2203446         1400       14108       1
29                           2211555         1100       10564       1
30                           2211555         1100       15151       1
31                           2211555         1200       17467       1
32                           2211555         1200       18236       1
33                           2211555         1200       18308       1
34                           2211555         1400       10564       1
35                           2211555         1400       15151       1
36                           2211555         1400       18145       1
37                           2214294         1400       16042       1
38                           2214294         1400       17619       1
39                           2505683         1400       17459       1
40                           2505683         1400       18284       1
41                            400250         3300       17608       1
42                            400250         3300       17878       1
43                            400530         3300       17882       1
44                            400530         3300       18448       1
45                            401160         3300       17642       1
46                            401160         3300       18421       1
47                           4141883         1400       14180       1
48                           4141883         1400       16422       1
49                           4608816         1400       15542       1
50                           4608816         1400       15726       1
51                          50171693         1200       10337       1
52                          50171693         1200       17539       1
53                          50207042         1100       17270       1
54                          50207042         1100       18189       1
55                          50207042         1300       17462       1
56                          50207042         1300       18111       1
57                          50207042         1300       18286       1
58                          50207042         1400       17412       1
59                          50207042         1400       18470       1
60                          50655018         1300       16816       1
61                          50655018         1300       16822       1
62                          50655018         1400       16816       1
63                          50655018         1400       16822       1
64                          50955582         1400       10632       1
65                          50955582         1400       18276       1
66                          51737922         1400       16315       1
67                          51737922         1400       16350       1
68                          52092616         1400       11810       1
69                          52092616         1400       15800       1
70                          52108057         1200       15652       1
71                          52108057         1200       18106       1
72                          52158649         1400       12645       1
73                          52158649         1400       15950       1
74                          52494309         1100       10899       1
75                          52494309         1100       11872       1
76                          52494309         1400       10899       1
77                          52494309         1400       11872       1
78                          52623170         1200       10367       1
79                          52623170         1200       16489       1
80                          52623170         1400       10367       1
81                          52623170         1400       16489       1
82                          52629904         1100       10369       1
83                          52629904         1100       14344       1
84                          52629912         1200       11892       1
85                          52629912         1200       14344       1
86                          52629912         1400       11892       1
87                          52629912         1400       14344       1
88                          52679065         1400       14029       1
89                          52679065         1400       16770       1
90                          53071676         1200       16944       1
91                          53071676         1200       17333       1
92                          53071676         1300       16311       1
93                          53071676         1300       17457       1
94                          53071676         1300       18249       1
95                          53071676         1400       16311       1
96                          53071676         1400       16944       1
97                          53071676         1400       17333       1
98                          53071676         1400       17337       1
99                          53271045         1400       14481       1
100                         53271045         1400       16403       1
101                         53521571         1200       10424       1
102                         53521571         1200       14109       1
103                         53521571         1400       10424       1
104                         53521571         1400       14109       1
105                         54653795         1100       16708       1
106                         54653795         1100       17033       1
107                         54653795         1200       16708       1
108                         54653795         1200       17033       1
109                         54952957         1200       16935       1
110                         54952957         1200       16974       1
111                         54952957         1400       16935       1
112                         54952957         1400       16974       1
113                         55108500         1400       17115       1
114                         55108500         1400       17322       1
115                         56242498         1400       16463       1
116                         56242498         1400       16965       1
117                         56953458         1300       16021       1
118                         56953458         1300       17637       1
119                         56953458         1400       16021       1
120                         56953458         1400       17637       1
121                         57045916         1400       15989       1
122                         57045916         1400       16181       1
123                          5749700         1200       16413       1
124                          5749700         1200       16851       1
125                          5749700         1200       17245       1
126                          5749700         1400       16413       1
127                          5749700         1400       16851       1
128                          5749700         1400       17245       1
129                          5749700         1400       17270       1
130                         58483975         1400       10603       1
131                         58483975         1400       16267       1
132                         58512120         1200       10255       1
133                         58512120         1200       15763       1
134                         58512120         1400       10255       1
135                         58512120         1400       15763       1
136                         59116871         1400       10252       1
137                         59116871         1400       16091       1
138                         59873968         1200       16528       1
139                         59873968         1200       16590       1
140                         59873968         1400       16528       1
141                         59873968         1400       16590       1
142                           608371         3300       17622       1
143                           608371         3300       17633       1
144                           608371         3300       17879       1
145                          6398770         1200       17472       1
146                          6398770         1200       17509       1
147                          6398770         1300       17136       1
148                          6398770         1300       17509       1
149                          6398770         1300       18458       1
150                          6528194         1200       10009       1
151                          6528194         1200       10692       1
152                          6528194         1400       10009       1
153                          6528194         1400       10692       1
154                          6783773         1300       10702       1
155                          6783773         1300       15831       1
156                          6783773         1400       10702       1
157                          6783773         1400       15831       1
158                          7771066         1400       16111       1
159                          7771066         1400       16494       1
160                          8114092         1200       16721       1
161                          8114092         1200       17987       1
162                          9423047         1400       13129       1
163                          9423047         1400       14030       1
164           GB48DEUT40508126077700         1400       15314       1
165           GB48DEUT40508126077700         1400       17009       1
166           IE58BOFA99006155677054         1400       15497       1
167           IE58BOFA99006155677054         1400       17190       1
168  MT81PYMX09014000001067820100001         2900       17192       1
169  MT81PYMX09014000001067820100001         2900       17463       1
170               NL89ABNA0460333313         2900       17358       1
171               NL89ABNA0460333313         2900       17538       1
172         SE0480000816959434997152         2900       15865       1
173         SE0480000816959434997152         2900       17256       1
174         SE6195000099602618058693         2900       17119       1
175         SE6195000099602618058693         2900       17420       1

176

In [17]:
def check_for_eap_error(vendor_num, debitor):  
        df_sort = dc_sorted_df_vendor_complete[debitor][vendor_num]
        df_sort_vendor = df_sort[((df_sort['Attribute_Name'] == 'VENDOR_NUM') & (df_sort['Delta'] == False))]
        documentid_list = df_sort_vendor[['DocumentID']].values.tolist()
        merged = list(itertools.chain.from_iterable(documentid_list))
        df_sorted = df_sort[df_sort['DocumentID'].isin(merged)]

        df_sort_new = df_sorted[((df_sorted['Attribute_Name'] == 'VatAmount1') & (df_sorted['Delta'] == True)) | (df_sorted['Attribute_Name'] == 'NetAmount1') & (df_sorted['Delta'] == True) | (df_sorted['Attribute_Name'] == 'VatRate1') & (df_sorted['Delta'] == True)]

        unique_documentid = df_sort_new['DocumentID'].unique()
        without_vat = [x for x in merged if x not in unique_documentid]
        
        for document_id in without_vat:
                df_sorted = df_sort[(df_sort["DocumentID"] == document_id) & (df_sort["Delta"] == True)]     
                #display(df_sorted)     

        wrong_documentids = []
        error_codes = []

        for entry in unique_documentid:
                sorted_by_documentid = df_sort_new.loc[(df_sort_new["DocumentID"] == entry)]
                len_sorted_by_documentid = len(sorted_by_documentid)
                sorted_by_documentid = sorted_by_documentid.loc[(sorted_by_documentid["Attribute_Name"] == 'VatAmount1')]
                if not sorted_by_documentid.empty:
                        if 0.0 < abs(float(sorted_by_documentid["Attribute_After"]) - float(sorted_by_documentid["Attribute_Before"])) <= 0.05:
                                #print('Bei: '+entry+' Rundungsfehler')
                                x=1

                if not sorted_by_documentid.empty:
                        wrong_documentids.append(entry)
                        error_codes.append(len_sorted_by_documentid)

        return wrong_documentids, error_codes

In [18]:
# VERALTET NICHT MEHR NOTWENDIG
count = 0
score_card_missing_vendor_vat_registration_id = pd.Series([],dtype=pd.StringDtype())

#score_card_missing_vendor_vat_registration_id = pd.DataFrame()
fehlercount = 0
bad_documents_counter = pd.Series([],dtype=pd.StringDtype()) 
for entry in score_card:
    wrong_number = []
    wrong_documentids = []

    for item in entry:
        #wrong_documentids.append(check_for_eap_error(item, score_card.index[count]))
        wrong_documentids = (check_for_eap_error(item, score_card.index[count]))
        entry_wrong_number_vat_registration_id = df_table_ccvendors[(df_table_ccvendors['COMPANY_NUM'] == score_card.index[count]) & (df_table_ccvendors["VENDOR_NUM"] == item)& ~(df_table_ccvendors["VENDOR_VAT_REGISTRATION_ID"] == '')]
        entry_wrong_number_registration_id = df_table_ccvendors[(df_table_ccvendors['COMPANY_NUM'] == score_card.index[count]) & (df_table_ccvendors["VENDOR_NUM"] == item)& ~(df_table_ccvendors["VENDOR_REGISTRATION_ID"] == '')] 
        entry_wrong_number_iban = df_table_ccvendors_bank[(df_table_ccvendors_bank['COMPANY_NUM'] == score_card.index[count]) & (df_table_ccvendors_bank["VENDOR_NUM"] == item)& ~(df_table_ccvendors_bank["IBAN"] == '')]
        if entry_wrong_number_vat_registration_id.empty: 
            if item not in wrong_number:
                wrong_number.append(item) 
            fehlercount += 100
        if entry_wrong_number_registration_id.empty: 
            if item not in wrong_number:
                wrong_number.append(item)
            fehlercount += 10
        if entry_wrong_number_iban.empty: 
            if item not in wrong_number:
                wrong_number.append(item)
            fehlercount += 1

        wrong_number.append(fehlercount)
        if wrong_documentids:
            bad_documents_counter[score_card.index[count]] = len(wrong_documentids)
            wrong_number.append(wrong_documentids)

        fehlercount = 0
    #print(wrong_documentids)

    score_card_missing_vendor_vat_registration_id[score_card.index[count]] = wrong_number
    count += 1

print(score_card_missing_vendor_vat_registration_id)
print(score_card_missing_vendor_vat_registration_id.to_json('data/scorecard_verbesserung.json', index=True))

2900    [16042, 10, ([866053da-3e33-42f1-85d1-38016198...
1400    [16021, 110, ([], []), 15300, 10, ([5e1c31cc-7...
1200    [15779, 110, ([], []), 17930, 10, ([79726a27-f...
1300    [10117, 10, ([4e265168-7d9f-4b6b-81cd-e67d775c...
1100    [14067, 10, ([52bf29cd-71e4-4d2e-9a16-d3ea6c6c...
3500    [17890, 110, ([], []), 18297, 111, ([], []), 1...
3300    [17637, 10, ([89fdb923-2aa0-485d-8d25-2012db8d...
1600                                [14408, 11, ([], [])]
dtype: object
None

In [ ]:
current_mandant = None
current_lieferant = None

# Schleife über die Spalten des DataFrames
for column in df_scorecard_dataframe.columns:
    if column == 'Mandant':
        current_mandant = df_scorecard_dataframe[column]
    elif column == 'Lieferant':
        current_lieferant = df_scorecard_dataframe[column]

i = 0

while i < len(current_mandant):
    fehlercount = 0
    wrong_documentids, error_codes = (check_for_eap_error(current_lieferant[i], current_mandant[i]))
    entry_wrong_number_vat_registration_id = df_table_ccvendors[(df_table_ccvendors['COMPANY_NUM'] == current_mandant[i]) & (df_table_ccvendors["VENDOR_NUM"] == current_lieferant[i])& ~(df_table_ccvendors["VENDOR_VAT_REGISTRATION_ID"] == '')]
    entry_wrong_number_registration_id = df_table_ccvendors[(df_table_ccvendors['COMPANY_NUM'] == current_mandant[i]) & (df_table_ccvendors["VENDOR_NUM"] == current_lieferant[i])& ~(df_table_ccvendors["VENDOR_REGISTRATION_ID"] == '')] 
    entry_wrong_number_iban = df_table_ccvendors_bank[(df_table_ccvendors_bank['COMPANY_NUM'] == current_mandant[i]) & (df_table_ccvendors_bank["VENDOR_NUM"] == current_lieferant[i])& ~(df_table_ccvendors_bank["IBAN"] == '')]
    

    if entry_wrong_number_vat_registration_id.empty: 
        fehlercount += 100
    if entry_wrong_number_registration_id.empty: 
        fehlercount += 10
    if entry_wrong_number_iban.empty: 
        fehlercount += 1
    
    df_scorecard_dataframe.loc[i, 'Fehlercode'] = fehlercount
    df_scorecard_dataframe.loc[i, 'DocumentID'] = wrong_documentids
    df_scorecard_dataframe.loc[i, 'MissingCode'] = error_codes

    i+=1

display(df_scorecard_dataframe)
df_scorecard_dataframe.to_json('data/scorecard_df.json', orient="records")

In [ ]:
df_results_debitor["Mandant"] = df_results_debitor.index
df_results_debitor.to_json('data/results_debitor.json', orient="records")

In [ ]:
df = pd.read_csv('data/cclogattributes_T'+tenant+'_reduced.csv', encoding='utf-8')
df_sorted = df.sort_values(by='DocumentID')
# Finde die Indizes, an denen sich der Eintrag in "Dokument" ändert
document_changes = df_sorted['DocumentID'].ne(df_sorted['DocumentID'].shift())
previous_document = None
bad_documents = 0
whole_documents = 0
for index, row in df_sorted.iterrows():
    count = 0
    if document_changes.iloc[index]:
        whole_documents += 1
        previous_document = row['DocumentID']
    if row['Attribute_Name'] == 'VatAmount1' and row['Delta'] == True:
        count += 1
    if row['Attribute_Name'] == 'NetAmount1' and row['Delta'] == True:
        count += 1
    if row['Attribute_Name'] == 'VatRate1' and row['Delta'] == True:
        count += 1
    if row['Attribute_Name'] == 'InvoiceNumber' and row['Delta'] == True:
        count += 1
    if row['Attribute_Name'] == 'InvoiceDate' and row['Delta'] == True:
        count += 1
    if(count>=1):
        bad_documents += 1

print(bad_documents,whole_documents)

In [ ]:
def get_pos_data(df):
    documentid_list = df[['DocumentID']].values.tolist()
    unique_data = [list(x) for x in set(tuple(x) for x in documentid_list)]
    res = list(map(''.join, unique_data))
    len_unique_docids = len(unique_data)
    for entry in res:
        condition = df['DocumentID'] == entry
        result = df.loc[condition]

In [310]:
import pandas as pd
df = pd.read_csv('data/'+str(tenant)+'/cclogattributes_T_'+tenant+'_reduced.csv', encoding='utf-8')

df_sorted_without_vendor_bad = df[~((df['Attribute_Name'] == 'VENDOR_NUM') & (df['Delta'] == True))]
df_sorted_without_vendor_bad = df_sorted_without_vendor_bad[df_sorted_without_vendor_bad['DocumentID'].isin(df_sorted_without_vendor_bad[df_sorted_without_vendor_bad['Attribute_Name'] == 'VENDOR_NUM']['DocumentID'])]
attribute_names = ['InvoiceDate','InvoiceNumber','GrossAmount']
attribute_names_new = ['VatRate1','NetAmount1','VatAmount1']
filtered_df = df_sorted_without_vendor_bad[(df_sorted_without_vendor_bad['Attribute_Name'].isin(attribute_names_new)) & (df_sorted_without_vendor_bad['Delta'] == True)]
grouped_attributes = filtered_df.groupby('DocumentID')['Attribute_Name'].agg(lambda x: ', '.join(sorted(set(x))))
combination_counts = grouped_attributes.value_counts()
x = filtered_df['Attribute_Name'].value_counts()
print(x)
print(combination_counts)

grouped_df = filtered_df.groupby(df_sorted_without_vendor_bad['DocumentID'].ne(df_sorted_without_vendor_bad['DocumentID'].shift()).cumsum())
count_per_group = grouped_df.size()
bad_documents = len(count_per_group)
whole_documents = df_sorted_without_vendor_bad['DocumentID'].nunique()
value = (x[0]/whole_documents)
good_documents = whole_documents-bad_documents

print('Häufigkeit: '+str(value)+' %')
if(value <= 0.01):
    print('Smartinvoice Fehler')
#print(good_documents, whole_documents, x[0])

VatAmount1    763
NetAmount1    632
VatRate1      482
Name: Attribute_Name, dtype: int64
NetAmount1, VatAmount1, VatRate1    477
VatAmount1                          144
NetAmount1, VatAmount1              137
NetAmount1                           18
VatAmount1, VatRate1                  5
Name: Attribute_Name, dtype: int64
Häufigkeit: 0.07177123506725613 %

In [329]:
df = pd.read_csv('data/'+str(tenant)+'/cclogattributes_T_'+tenant+'_reduced.csv', encoding='utf-8')
df_sorted_without_vendor_bad = df[~((df['Attribute_Name'] == 'VENDOR_NUM') & (df['Delta'] == True))]
df_sorted_without_vendor_bad = df_sorted_without_vendor_bad[df_sorted_without_vendor_bad['DocumentID'].isin(df_sorted_without_vendor_bad[df_sorted_without_vendor_bad['Attribute_Name'] == 'VENDOR_NUM']['DocumentID'])]
attribute_names = ['InvoiceDate','InvoiceNumber','GrossAmount']
attribute_names_new = ['VatRate1','NetAmount1','VatAmount1']

def get_score(attributes):
    filtered_df = df_sorted_without_vendor_bad[(df_sorted_without_vendor_bad['Attribute_Name'].isin(attributes)) & (df_sorted_without_vendor_bad['Delta'] == True)]
    grouped_attributes = filtered_df.groupby('DocumentID')['Attribute_Name'].agg(lambda x: ', '.join(sorted(set(x))))
    combination_counts = grouped_attributes.value_counts()
    x = filtered_df['Attribute_Name'].value_counts()
    grouped_df = filtered_df.groupby(df_sorted_without_vendor_bad['DocumentID'].ne(df_sorted_without_vendor_bad['DocumentID'].shift()).cumsum())
    count_per_group = grouped_df.size()
    bad_documents = len(count_per_group)
    whole_documents = df_sorted_without_vendor_bad['DocumentID'].nunique()
    value = (x[0]/whole_documents)
    good_documents = whole_documents-bad_documents

    score = '{"score":"'+str(value)+'","frequency":"'+str(whole_documents)+'"}'

    return score, x
    print(score)

score, x = get_score(attribute_names)
score, y = get_score(attribute_names_new)

df = pd.concat([x, y], axis=0).to_frame()
df['Attribute_Name'].to_json('data/test.json', orient="index")
display(df)

               Attribute_Name
InvoiceNumber             108
InvoiceDate                65
GrossAmount                46
VatAmount1                763
NetAmount1                632
VatRate1                  482

In [346]:
import csv
import os
from datetime import datetime

def update_csv(log, value_mandant, value_lieferant, value_rechnungskopf):
    csv_filename = "log.csv"
    logtime_exists = False
    rows = []

    # Überprüfen, ob die CSV-Datei existiert
    if not os.path.exists(csv_filename):
        # CSV-Datei erstellen
        with open(csv_filename, "w", newline="") as file:
            writer = csv.writer(file)
            writer.writerow(["Logtime", "ValueMandant", "ValueLieferant", "ValueRechnungskopf"])

    # CSV-Datei vollständig einlesen
    with open(csv_filename, "r", newline="") as file:
        reader = csv.reader(file)
        rows = list(reader)

    # Überprüfen, ob Logtime bereits vorhanden ist
    for row in rows:
        if row and row[0] == log:
            logtime_exists = True
            row[1] = str(value_mandant)
            row[2] = str(value_lieferant) 
            row[3] = str(value_rechnungskopf)   # Wert aktualisieren
            break

    # Wenn Logtime nicht vorhanden ist, neue Zeile hinzufügen
    if not logtime_exists:
        rows.append([log, str(value_mandant), str(value_lieferant), str(value_rechnungskopf)] )

    # CSV-Datei aktualisieren
    with open(csv_filename, "w", newline="") as file:
        writer = csv.writer(file)
        writer.writerows(rows)

# Beispielaufruf der Funktion
current_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
update_csv("2023-06-19 12:43:49", 42, 43, 44)

In [351]:
import csv
import os
from datetime import datetime

def update_csv(log, value1=None, value2=None, value3=None):
    csv_filename = "log.csv"
    logtime_exists = False
    rows = []

    # Überprüfen, ob die CSV-Datei existiert
    if not os.path.exists(csv_filename):
        # CSV-Datei erstellen
        with open(csv_filename, "w", newline="") as file:
            writer = csv.writer(file)
            writer.writerow(["Logtime", "Value1", "Value2", "Value3"])

    # CSV-Datei vollständig einlesen
    with open(csv_filename, "r", newline="") as file:
        reader = csv.reader(file)
        rows = list(reader)

    # Überprüfen, ob Logtime bereits vorhanden ist
    for row in rows:
        if row and row[0] == log:
            logtime_exists = True
            if value1 is not None:
                row[1] = str(value1)  # Wert1 aktualisieren
            if value2 is not None:
                row[2] = str(value2)  # Wert2 aktualisieren
            if value3 is not None:
                row[3] = str(value3)  # Wert3 aktualisieren
            break

    # Wenn Logtime nicht vorhanden ist, neue Zeile hinzufügen
    if not logtime_exists:
        new_row = [log]
        if value1 is not None:
            new_row.append(str(value1))
        else:
            new_row.append("")
        if value2 is not None:
            new_row.append(str(value2))
        else:
            new_row.append("")
        if value3 is not None:
            new_row.append(str(value3))
        else:
            new_row.append("")
        rows.append(new_row)

    # CSV-Datei aktualisieren
    with open(csv_filename, "w", newline="") as file:
        writer = csv.writer(file)
        writer.writerows(rows)

# Beispielaufruf der Funktion
current_time = datetime.now().strftime("%Y-%m-%d")
update_csv(current_time, value1=3.14)  # Nur der dritte Wert wird hinzugefügt

with open('test.json', 'w', encoding = 'utf-8') as json_file_handler:
    #Step 4
    json_file_handler.write(json.dumps(data_dict, indent = 4))

In [359]:
def make_json(csvFilePath, jsonFilePath):
     
    data = {}
     
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        for rows in csvReader:
            key = rows['Logtime']
            data[key] = rows
 

    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
 
csvFilePath = 'log.csv'
jsonFilePath = 'test.json'
 
make_json(csvFilePath, jsonFilePath)

# Correlation Analysis

In [ ]:
def handle_non_numerical_data_correlation(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df


bc = handle_non_numerical_data_correlation(df_table_cclogattributes)
#display(bc)
display(bc.corrwith(bc.iloc[0], axis=1))

corr = bc.corr(method = 'pearson')
corr
#plt.figure(figsize=(10,8), dpi =500)
#sns.heatmap(corr,annot=True,fmt=".2f", linewidth=.5)
#plt.show()

In [ ]:
# Gruppieren und zählen der eindeutigen Kombinationen
# Berechnung der Korrelationswahrscheinlichkeit
from scipy.stats import pearsonr

# Korrelationsanalyse

# Datensatz einlesen
df = df_table_cclogattributes

df["Attribute_Before"] = pd.to_numeric(df["Attribute_Before"], errors="coerce")
df["Attribute_After"] = pd.to_numeric(df["Attribute_After"], errors="coerce")

# Entferne Zeilen mit NaN-Werten in den relevanten Spalten
df = df.dropna(subset=["Attribute_Before", "Attribute_After"])

# Korrelationsanalyse durchführen
correlation_data = []
for attribute_name in df["Attribute_Name"].unique():
    attribute_data = df[df["Attribute_Name"] == attribute_name]
    if len(attribute_data) > 1:
        correlation_coefficient, _ = pearsonr(attribute_data["Attribute_Before"], attribute_data["Attribute_After"])
        correlation_data.append({
            "Attribute_Name": attribute_name,
            "Correlation_Coefficient": correlation_coefficient
        })

# Ergebnisse ausgeben
correlation_df = pd.DataFrame(correlation_data)
print(correlation_df)

In [ ]:
from scipy.stats import chi2_contingency

def cramers_v(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k - 1) * (r - 1)) / (n - 1))
    rcorr = r - ((r - 1) ** 2) / (n - 1)
    kcorr = k - ((k - 1) ** 2) / (n - 1)
    return np.sqrt(phi2corr / min((kcorr - 1), (rcorr - 1)))

# Korrelationsanalyse mit Cramér's V-Koeffizient
correlation_data = []
for i in range(len(unique_entries)):
    entry_1 = unique_entries[i]
    entry_row_1 = df_table_cclogattributes[df_table_cclogattributes["Attribute_Name"] == entry_1]
    
    for j in range(i+1, len(unique_entries)):
        entry_2 = unique_entries[j]
        entry_row_2 = df_table_cclogattributes[df_table_cclogattributes["Attribute_Name"] == entry_2]
        
        if len(entry_row_1) > 0 and len(entry_row_2) > 0:
            # Kreuztabelle erstellen
            contingency_table = pd.crosstab(entry_row_1["Attribute_Before"], entry_row_2["Attribute_Before"])
            
            # Cramér's V-Koeffizient berechnen
            correlation_coefficient = cramers_v(contingency_table.values)
            
            correlation_data.append({
                "Attribute_Name_1": entry_1,
                "Attribute_Name_2": entry_2,
                "Correlation_Coefficient": correlation_coefficient
            })

# Ergebnisse ausgeben
correlation_df = pd.DataFrame(correlation_data)
print(correlation_df)

In [ ]:
target_attributes = ["Attribute_Name", "Attribute_After"]
target_df = bc[bc["Attribute_Name"].isin(target_attributes)]

# Berechnen Sie die Korrelationen der Zielzeilen mit den anderen Zeilen in "Attribute After"
corr_with_target = target_df["Attribute_After"].corrwith(bc["Attribute_After"])

# Machine Learning

## Data preprocessing

In [ ]:
df1 = pd.read_csv('data/cclogattributes_T0012hb.csv', encoding='iso-8859-15')

vergleiche_spalten = lambda x: 'master_data_error' if x['Attribute_Name'] == 'VENDOR_NUM' and x['Attribute_Before'] != x['Attribute_After'] else'good' if x['Delta'] == False and x['Type'] == 0 else 'undefined'
#else 'master_data_error' if x['Attribute_Name'] == 'VENDOR_NAME' and x['Attribute_Before'] != x['Attribute_After'] \
#else 'master_data_error' if x['Attribute_Name'] == 'VENDOR_STR' and x['Attribute_Before'] != x['Attribute_After'] \
#else 'master_data_error' if x['Attribute_Name'] == 'VENDOR_CITY' and x['Attribute_Before'] != x['Attribute_After'] \
#else 'master_data_error' if x['Attribute_Name'] == 'VENDOR_ZIP_CODE' and x['Attribute_Before'] != x['Attribute_After'] \

df1['Suggestion'] = df1.apply(vergleiche_spalten, axis=1)

df1 = df1.drop('LogTimeTicks', axis=1)
#df = df.drop('DocumentID', axis=1)

df1.to_csv('data/after_preprocessing.csv', index=False, header= True, encoding='iso-8859-15')

X = df1.loc[ : , df1.columns != 'Suggestion']
Y = df1.loc[ : , df1.columns == 'Suggestion']

In [ ]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

#X = handle_non_numerical_data(X)


def Encoder(df):
          columnsToEncode = list(df.select_dtypes(include=['category','object','bool']))
          le = LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df


#Y = Encoder(Y)
#print(Y)
#pd.DataFrame(Y).to_csv("data/after_numerical.csv")


#print(X)
#X.shape[0]
#Y.shape[0]

In [ ]:
#Create training and testing samples
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=None, shuffle=False)

pd.DataFrame(y_train).to_csv("data/y_train.csv")

## Create Model and Train

In [ ]:
def create_model(optimizer='adam', init='uniform'):
    # create model
    if verbose: print("**Create model with optimizer: %s; init: %s" % (optimizer, init) )
    model = Sequential()
    model.add(Dense(16, input_dim=X_train.shape[1], kernel_initializer=init, activation='relu')) #
    model.add(Dense(512, kernel_initializer=init, activation='relu'))
    model.add(Dense(256, kernel_initializer=init, activation='relu'))
    model.add(Dense(3, kernel_initializer=init, activation='softmax'))
    # Compile model
    model.compile(loss='sparse_categorical_crossentropy', optimizer=keras.optimizers.Adadelta(), metrics=['acc']) #keras.optimizers.Adadelta() and sparse_categorical_accuracy
    return model

In [ ]:
run_gridsearch = False

if run_gridsearch:
    
    start_time = time.time()
    if verbose: print (time.strftime( "%H:%M:%S " + "GridSearch started ... " ) )
    optimizers = ['rmsprop'] # , 'adam'
    inits = ['glorot_uniform'] #, 'normal', 'uniform'
    epochs = [5, 50, 100, 300]
    batches = [5, 32, 64]
    
    model = KerasClassifier(build_fn=create_model, verbose=verbose)
    
    param_grid = dict(optimizer=optimizers, epochs=epochs, batch_size=batches, init=inits)
    grid = GridSearchCV(estimator=model, param_grid=param_grid)
    grid_result = grid.fit(X_train, y_train)

    # summarize results
    print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
    means = grid_result.cv_results_['mean_test_score']
    stds = grid_result.cv_results_['std_test_score']
    params = grid_result.cv_results_['params']
    if verbose: 
        for mean, stdev, param in zip(means, stds, params):
            print("%f (%f) with: %r" % (mean, stdev, param))
        elapsed_time = time.time() - start_time  
        print ("Time elapsed: ",timedelta(seconds=elapsed_time))
        
    best_epochs = grid_result.best_params_['epochs']
    best_batch_size = grid_result.best_params_['batch_size']
    best_init = grid_result.best_params_['init']
    best_optimizer = grid_result.best_params_['optimizer']
    
else:
    # best paramters
    best_epochs = 300
    best_batch_size = 64
    best_init = 'glorot_uniform'
    best_optimizer = 'rmsprop'

In [ ]:
results_df = pd.DataFrame(grid_result.cv_results_)
pd.DataFrame(results_df).to_csv('data/grid_search_results.csv')
results_df = results_df.sort_values(by=["rank_test_score"])
results_df = results_df.set_index(
    results_df["params"].apply(lambda x: "_".join(str(val) for val in x.values()))
).rename_axis("kernel")
results_df[["params", "rank_test_score", "mean_test_score", "std_test_score"]]

In [ ]:
model_scores = results_df.filter(regex=r"split\d*_test_score")

# plot 30 examples of dependency between cv fold and AUC scores
fig, ax = plt.subplots()
sns.lineplot(
    data=model_scores.transpose().iloc[:30],
    dashes=False,
    palette="Set1",
    marker="o",
    alpha=0.5,
    ax=ax,
)
ax.set_xlabel("CV test fold", size=12, labelpad=10)
ax.set_ylabel("Model AUC", size=12)
ax.tick_params(bottom=True, labelbottom=False)
ax.legend(loc=4, prop={'size': 6})

plt.show()

In [ ]:
model_pred = KerasClassifier(build_fn=create_model, optimizer=best_optimizer, init=best_init, epochs=best_epochs, batch_size=best_batch_size, verbose=verbose)
model_pred.fit(X_train, y_train)

prediction = model_pred.predict(X_test)

# Evaluation

In [ ]:
print(classification_report(y_test, prediction, zero_division=False))
accuracy_score(y_test, prediction)

In [ ]:
print(prediction)
pd.DataFrame(prediction).to_csv('data/prediction.csv')

In [ ]:
pickle.dump(model_pred, open('models/classification_model.h5', 'wb'))

In [ ]:
with open('models/classification_model.h5', 'rb') as pickle_file:
    content = pickle.load(pickle_file)

prediction = content.predict(X_test)
print(classification_report(y_test, prediction, zero_division=False))

In [ ]:
import pyautogui
import time
while True:
    for i in range(0,100):
        pyautogui.moveTo(10,10)
        pyautogui.leftClick()
        pyautogui.moveTo(1000,1000)
        pyautogui.leftClick()

        time.sleep(2)